Flask==3.0.2
Flask-WTF==1.2.1
Flask-Login==0.6.3
Flask-Session-Captcha==1.4.2
Flask-Argon2==0.3.0.0
PyMySQL==1.1.0
WTForms==3.1.2
httpagentparser==1.9.5
werkzeug==3.0.2
ultralyticsplus==0.1.0
tensorflow==2.16.1
numpy==1.26.4
pandas==2.2.2
jiwer==3.0.4
paddleocr==2.7.3
opencv-python==4.6.0.66
Pillow==10.3.0
waitress==3.0.0
