<div class="modal fade backdrop-modal-present" id="logout_Confirmation" tabindex="-1" role="dialog"
    aria-labelledby="logout_Confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-2 border-orange">
            <div class="modal-body text-center">
                <h5 class="fw-bold mb-3">Sign out</h5>
                <p class="fs-medium">Are you sure you wish to sign out? Please note that any unsaved data will be
                    permanently
                    lost.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="button fs-medium fw-medium px-4">Close</button>
                <a href="{{url_for('auth.logout')}}" id="logout_currentUser"
                    class="btn-orange text-decoration-none button fs-medium fw-medium px-4">
                    Sign out
                </a>
            </div>
        </div>
    </div>
</div>