<div class="modal fade" id="saveBenchmarkModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="saveBenchmarkModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-orange border-3">
            <div class="modal-body">
                <h5 class="fw-bold mb-3">Record Benchmark Data</h5>
                <p class="ms-2" style="text-align: justify; text-justify: inter-word;">
                    Please review all entered data are correct. Are you sure you want to save this benchmark entry
                    to the csv? </p>
            </div>
            <div class="modal-footer ">
                <button class="button me-3 fs-medium fw-medium px-4" type="button"
                    data-bs-dismiss="modal">Cancel</button>
                <button id="confirm_saveBenchmark" class="btn-orange text-decoration-none fs-medium fw-medium px-4"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
