<div class="modal fade backdrop-modal-present" id="showPreviewModal" data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="showPreviewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered border-0">
        <div class="modal-content p-0 border-0">
            <div class="modal-body p-0" style="padding: 0px !important;">
                <p id="file_info"></p>
                <div class="imageContainer">
                    <img src="" alt="" id="previewImageDisplay">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditRecordModal" tabindex="-1" role="dialog" aria-labelledby="EditRecordModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:300px;">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="fw-medium text-center">Edit Record </h5>
                <form action="{{ url_for('fetch_records.editEntryData')}}" method="post" id="add_user">
                    <div class="inputs-forms mb-3" id="updateTag_data">
                    </div>
                </form>
                <div class="mt-5 d-flex justify-content-end">
                    <button class="button fs-medium fw-medium px-4 me-3" type="button"
                        data-bs-dismiss="modal">Close</button>
                    <button class="button btn-red fs-medium fw-medium px-4" data-bs-toggle="modal"
                        data-bs-target="#UpdateTag_confirmation" type="button" id="button_showConfirmationUpdateTag">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateTag_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="UpdateTag_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="fw-bold mb-3"> Update Student Credentials </h5>
                <p class="ms-2"> Please review all entered data are correct. Are you sure you want to update the
                    credentials
                    of the student tagged to this document?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
                <button id="update_entry_credentials" class="btn-green fs-medium fw-medium px-4"
                    data-bs-dismiss="modal">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteTag_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="DeleteTag_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-orange border-3">
            <div class="modal-body">
                <h5 class="fw-bold mb-3">Delete Student Tag</h5>
                <p class="ms-2">Are you sure you want to delete this student's tag from the document?</p>

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
                <button id="delete_entry_credentials" class="btn-orange fw-bold fs-medium fw-medium px-4"
                    data-bs-dismiss="modal">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>