{% extends 'layout/users.html' %}
{% block title %}College Manager | ARDS{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}
{% block content %}

<section class="p-2" id="container_collapsedAll">
    <div class="page-header-title p-2 border-bottom border-1 mb-4">
        <h3 class="fw-bold">College and Course Manager </h3>
        <p class="fs-medium fst-italic"> A tool for easy management and editing of college and associated courses data.
        </p>
    </div>
    <div class="d-flex justify-content-end">
        <div class="me-5" style="width: 30vw;min-width:400px;">
            <input type="text" name="filterCards" class="rounded-3 mx-3 form-control border-1" id="filterCards"
                oninput="searchCards()" placeholder="Search for College...">
        </div>

        <button class="fw-medium mx-2" data-bs-toggle="modal" data-bs-target="#addColleges_modal"> <span
                class="fc-default fa-solid fa-plus me-2"> </span>College</button>
        <button class="fw-medium mx-2" data-bs-toggle="modal" data-bs-target="#addCourses_modal"> <span
                class="fc-default fa-solid fa-plus me-2"> </span>Courses</button>
    </div>
    <div id="college_displayCards" class="mt-3 mb-5 d-flex align-content-start flex-wrap"></div>
</section>

{% endblock%}

{% block scripts %}
<script>
    var collegesArray = [];
    var coursesArray = [];
    //collegesArray = [{college_id, college_name, courses[index{course_id, course_name}]}]

    function populateColleges() {
        collegesArray = [];
        fetch('/admin/college_manager/display_colleges')
            .then(response => response.json())
            .then(colleges => {
                coursesArray = [];
                let collegeDataDiv = document.getElementById('college_displayCards');
                let collegeSelect = document.getElementById('addon_College');
                let collegeMoveSelect = document.getElementById('movetoCollege');
                collegeSelect.innerHTML = '';
                collegeDataDiv.innerHTML = '';
                collegeMoveSelect.innerHTML = '';

                colleges.forEach(college => {

                    let college_id = college.college_id;
                    let college_name = college.college_name;
                    let courseslist = '';
                    let collegeOption = '';
                    let tempCoursesArray = [];

                    collegeOption = `<option value= "${college_id}">${college_name}</option>`;

                    if (college.courses && Array.isArray(college.courses)) {
                        if (college.courses.length > 0) {

                            college.courses.forEach(course => {
                                let course_name = course.course_name;
                                let course_id = course.course_id;
                                courseslist += `<li class="list-group-item courses_item">${course_name}</li>`;
                                tempCoursesArray.push({ course_id: course_id, course_name: course_name, });
                                coursesArray.push(course_name);
                            });
                        }
                        else {
                            courseslist = 'No courses data';
                        }
                    }

                    let card = `<div class="college-entry card my-3 mx-2 border-0" id="college_cards border-0 prevent-select">
                                    <div class="accordion" id="parent${college_id}">
                                        <div class="accordion-item">
                                            <div class="accordion-header p-0 border-0 m-0" id="label${college_id}">
                                                <button class="w-full accordion-button collapsed py-3 px-4 d-flex justify-content-between shadow-none" 
                                                type="button" data-bs-toggle="collapse" 
                                                data-bs-target="#${college_id}" 
                                                aria-expanded="false"
                                                aria-controls="${college_id}"
                                                style="width:370px; min-height:90px;">
                                                            <h5 class="fw-medium fc-light ps-2 pe-4" id="card_collegeName">
                                                                ${college_name}
                                                            </h5>
                                                </button>
                                            </div>
                                                <div id="${college_id}" class="accordion-collapse collapse"
                                                aria-labelledby="label${college_id}"
                                                data-bs-parent="#parent${college_id}">
                                                    <div class="accordion-body p-0 m-0">
                                                        <div class="card-body border-0 rounded-bottom-3 p-2">
                                                            <div id="courses_list">
                                                                <ul class="list-group list-group-flush">
                                                                    ${courseslist} 
                                                                    <li class="list-group-item text-end">
                                                                        <a class="fa-solid fa-ellipsis p-2 pe-0" onclick="show_editModal(${college_id})"></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> `;

                    // Add an event listener for double clicks on the document
                    document.addEventListener('dblclick', function (event) {
                        // Check if the double click occurred outside of the accordion buttons or cards
                        const isOutsideAccordion = !event.target.closest('.accordion-button');

                        if (isOutsideAccordion) {
                            // Get all the accordion items
                            const accordionItems = document.querySelectorAll('.accordion-item');
                            // Collapse each accordion item
                            accordionItems.forEach(item => {
                                item.querySelector('.accordion-button').classList.add('collapsed');

                                // Change 'aria-expanded' attribute to 'false'
                                item.querySelector('.accordion-button').setAttribute('aria-expanded', 'false');

                                // Remove 'show' class from the content
                                item.querySelector('.accordion-collapse').classList.remove('show');
                            });
                        }
                    });


                    collegeDataDiv.innerHTML += card;
                    collegeSelect.innerHTML += collegeOption;
                    collegeMoveSelect.innerHTML += collegeOption;

                    const collegeObject = {
                        college_id,
                        college_name,
                        courses: tempCoursesArray
                    };
                    collegesArray.push(collegeObject);
                });
            })
            .catch(error => {
                console.error('Error fetching colleges:', error);
            });

    }
    populateColleges();

    function checkCollege(inputID, submitButton) {
        const collegeName = document.getElementById(inputID).value;
        const foundCollege = collegesArray.find(college => college.college_name.toLowerCase() === collegeName.toLowerCase());
        const submit_button = document.getElementById(submitButton);

        if (foundCollege) {
            document.getElementById(inputID).classList.add('is-invalid');
            submit_button.disabled = true;
        } else {
            document.getElementById(inputID).classList.remove('is-invalid');
            submit_button.disabled = false;
        }
    }
    function checkCourses(inputID, submitButton) {
        const courseName = document.getElementById(inputID).value;
        const foundCourse = coursesArray.some(course => course.toLowerCase() === courseName.toLowerCase());
        const submit_button = document.getElementById(submitButton);

        if (foundCourse) {
            document.getElementById(inputID).classList.add('is-invalid');
            submit_button.disabled = true;
        } else {
            document.getElementById(inputID).classList.remove('is-invalid');
            submit_button.disabled = false;
        }
    }

    function clearForm(form_id) {
        let form = document.querySelector(form_id);
        let inputs = form.querySelectorAll('input');

        for (let i = 0; i < inputs.length; i++) {
            inputs[i].value = '';
        }
    }

    function searchCards() {
        var input, filter, cards, cardContainer, college_name, i;

        input = document.getElementById("filterCards");
        filter = input.value.toUpperCase();

        cardContainer = document.getElementById("college_displayCards");
        cards = cardContainer.getElementsByClassName("card");

        for (i = 0; i < cards.length; i++) {
            college_name = cards[i].querySelector("#card_collegeName");


            if (college_name.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }

</script>
<script>
    $('#confirm_addCollege').on('click', function (event) {
        event.preventDefault();
        let college_name = $('#newcollege_name').val();
        let formData = {
            'newcollege_name': college_name,
        };
        //send the data through ajax and recieve a corresponding status report of query
        $.ajax({
            url: '/admin/college_manager/add/new_college',
            type: 'POST',
            data: formData,
            headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
            success: function (data) {
                switch (data.query_result) {
                    case 'success'://the user successfully appended in the database
                        populateColleges();
                        clearForm('#new_college');
                        showToast('Success!', 'College added successfully.', 'fc-green fa-solid fa-circle-check', 'border-success');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'failed'://error in processing occured
                        showToast('Upload Error occurred!', 'Failed to add college data. ', 'fc-orange fa-solid fa-triangle-exclamation', 'border-warning');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'duplicate'://user already exist in the database
                        showToast('College Already Exist!', 'Please Try again.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                }
            },
            //handle the ajax error 
            error: function (error) {
                console.error('Error:', error);
                showToast('Error', 'Upload error occurred.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                new bootstrap.Toast(document.querySelector('#add_userToast')).show();
            }
        });
    });

    $('#confirm_addCourse').on('click', function (event) {
        event.preventDefault();
        let addon_College = $('#addon_College').val();
        let newcourse_name = $('#newcourse_name').val();

        let formData = {
            'addon_College': addon_College,
            'newcourse_name': newcourse_name,
        };
        //send the data through ajax and recieve a corresponding status report of query
        $.ajax({
            url: '/admin/college_manager/add/new_course',
            type: 'POST',
            data: formData,
            headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
            success: function (data) {
                switch (data.query_result) {
                    case 'success'://the user successfully appended in the database
                        populateColleges();
                        clearForm('#new_courses');
                        showToast('Success!', 'Course added successfully.', 'fc-green fa-solid fa-circle-check', 'border-success');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'failed'://error in processing occured
                        showToast('Upload Error occurred!', 'Failed to add couse data. ', 'fc-orange fa-solid fa-triangle-exclamation', 'border-warning');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'cannot modify'://user already exist in the database
                        showToast('Course Already Exist!', 'Please Try again.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                }
            },
            //handle the ajax error 
            error: function (error) {
                console.error('Error:', error);
                showToast('Error', 'Upload error occurred.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                new bootstrap.Toast(document.querySelector('#add_userToast')).show();
            }
        });
    });
</script>
<script>

    function show_editModal(input_colID) {
        // Assuming you have already fetched the collegesArray
        college_id = parseInt(input_colID)
        const college = collegesArray.find(college => college.college_id === college_id);

        if (college) {
            let containerPopulate = document.getElementById('populate_coursesList');
            let inputFields = document.getElementsByClassName('update_collegeField')[0];
            inputFields.value = college.college_name;
            inputFields.placeholder = college.college_name;
            inputFields.id = college.college_id;
            containerPopulate.innerHTML = ''; // Clear existing content

            if (college.courses.length > 0) {
                let titleCourse = `<div class="fw-medium mt-3">Courses :</div>`;
                containerPopulate.innerHTML += titleCourse;

                college.courses.forEach(course => {
                    let inputField = `  <div id="form-item" class="py-2 d-flex">
                                            <input type="text" class="form-control" id="${course.course_id}" name="update_course" value="${course.course_name}" placeholder="${course.course_name}" required>
                                            <span  class="ms-2 p-2">
                                                <a class="m-0" onclick="moveCourse(${college.college_id}, ${course.course_id})"> <span class="fa-solid fa-circle-chevron-right"></span></a>
                                            </span>
                                        </div> `;
                    containerPopulate.innerHTML += inputField;
                });
            }
            // Show the modal
            $('#editCollege_modal').modal('show');
        }
    }

    function moveCourse(college_id, course_id) {
        let default_college = college_id;
        const college = collegesArray.find(college => college.college_id === college_id);
        const course = college.courses.find(course => course.course_id === course_id);

        let inputFields = document.getElementsByClassName('moveCourse_target')[0];
        inputFields.value = "";
        inputFields.value = course.course_name;
        inputFields.id = course_id;

        let toCollege = document.getElementById('movetoCollege')[0];
        toCollege.value = default_college;

        $('#editCollege_modal').modal('hide');
        $('#moveCourses_modal').modal('show');

        let collegeText = document.getElementById('modal_collgeChangeText');
        let courseText = document.getElementById('modal_courseChangeText');


        var selectedText = $('#movetoCollege option:selected').text();
        $('#collegeText').text(selectedText);

        collegeText.innerText = selectedText;
        courseText.innerText = course.course_name;

        $('#confirm_changeCourse').on('click', function (event) {
            event.preventDefault();

            let moveCourse_target = course_id;
            let movetoCollege = $('#movetoCollege').val();

            let formData = {
                'moveCourse_target': moveCourse_target,
                'movetoCollege': movetoCollege,
            };

            $.ajax({
                url: '/admin/college_manager/update_college/course/unlink_college/setup_link',
                type: 'POST',
                data: formData,
                headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
                success: function (data) {
                    console.log('message :' + data.query_result);
                    switch (data.query_result) {
                        case 'success'://the user successfully appended in the database
                            populateColleges();
                            clearForm('#new_courses');
                            showToast('Success!', 'Course moved successfully.', 'fc-green fa-solid fa-circle-check', 'border-success');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'failed'://error in processing occured
                            showToast('Error occurred!', 'Failed to update course. ', 'fc-orange fa-solid fa-triangle-exclamation', 'border-warning');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'cannot modify'://user already exist in the database
                            showToast('Connot modify course', 'Please Try again.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                    }
                },
                //handle the ajax error 
                error: function (error) {
                    console.error('Error:', error);
                    showToast('Error', 'Upload error occurred.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                }
            });

        });


    }

    $('#confirm_updateCollege').on('click', function (event) {
        event.preventDefault();
        let college_input = document.getElementsByClassName('update_collegeField')[0];
        let college_id = college_input.id;
        let college_name = college_input.value;

        let inputContainer = document.getElementById('populate_coursesList');
        let inputFields = inputContainer.getElementsByTagName('input');
        let courses_data = [];

        for (let i = 0; i < inputFields.length; i++) {
            let input = inputFields[i];
            let courseId = input.id;
            let courseName = input.value;

            courses_data.push({ course_id: courseId, course_name: courseName });
        }

        const formData = {
            college_id,
            college_name,
            courses_data,
        };

        $.ajax({
            url: '/admin/college_manager/update_data/update_college',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
            success: function (data) {
                switch (data.query_result) {
                    case 'success'://the user successfully appended in the database
                        populateColleges();
                        clearForm('#new_courses');
                        showToast('Success!', 'Course added successfully.', 'fc-green fa-solid fa-circle-check', 'border-success');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'failed'://error in processing occured
                        showToast('Upload Error occurred!', 'Failed to add couse data. ', 'fc-orange fa-solid fa-triangle-exclamation', 'border-warning');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'duplicate'://user already exist in the database
                        showToast('Course Already Exist!', 'Please Try again.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                }
            }
        });
    });
</script>
{% endblock%}