{% extends 'layout/users.html' %}
{% block title %}Documents | ARDS{% endblock %}
{% block style %}
<link href="{{url_for('static',filename='DataTables/datatables.min.css')}}" rel='stylesheet'>
<script src="{{url_for('static',filename='DataTables/datatables.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}

{% block content %}

<section>
    <div class="page-header-title p-2 mb-2">
        <h5 class="fw-bold">Archive Documents</h5>
    </div>
    <div class="d-flex justify-content-between gap-5 mb-3 mx-2">
        <div class="flex-grow-1" id="filtersearch_global" style="max-width: 40%;">
            <input type="text" class="form-control w-full text-truncate" id="filterSearch" placeholder="Search...">
        </div>
        <div class="d-flex justify-content-end gap-4 fs-medium p-0" id="filterContainer">
            <div class="d-flex justify-content-between gap-2 p-0">
                <div class="d-flex" style="width: 100px;">
                    <select id="filterCollege" class="form-select text-truncate fs-medium">
                    </select>
                </div>
                <div class="d-flex" style="width: 100px;">
                    <select id="filterCourse" class="form-select text-truncate fs-medium">
                    </select>
                </div>
                <div class="d-flex" style="width: 110px;">
                    <select id="filterSemester" class="form-select fs-medium">
                        <option value="">Semester</option>
                        <option value="1st">1st Sem</option>
                        <option value="2nd">2nd Sem</option>
                        <option value="Off-Sem">Off-Sem</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2 fs-medium p-0">
                <div class="d-flex gap-2">
                    <span class="fw-medium py-2 flex-grow-1" style="width: 110px;">Academic Year:</span>
                    <select id="filterYear" class="form-select fs-medium" style="width: 120px;">
                        <option value="">YYYY-YYYY</option>
                        <option value="1998-1999">1998-1999</option>
                    </select>
                </div>
                <div class="d-flex" style="width: 120px;">
                    <span class="fw-medium p-2">Show</span>
                    <select id="filterShow" name="filterShow" class="form-select fs-medium">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="-1">All</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <table id='documentsTable' class='display dataTable table-borderless table-hover fc-default' cellspacing="0"
        width="100%">
    </table>

</section>

{% endblock%}

{% block scripts %}
<script src="{{url_for('static',filename='js/document_name.js')}}"></script>
<script>
    //populate data table
    var collegesArray = [];

    function getCollege() {
        fetch('/fetch_college/courseList/data')
            .then(response => response.json())
            .then(colleges => {
                collegesArray = [];
                let collegeSelect = document.getElementById('filterCollege');
                let courseUpdateSelect = document.getElementById('filterCourse');
                collegeSelect.innerHTML = '';
                collegeSelect.innerHTML = `<option value=""> College </option>`;
                courseUpdateSelect.innerHTML = '';
                courseUpdateSelect.innerHTML = `<option value=""> Course </option>`;

                colleges.forEach(college => {

                    let college_id = college.college_id;
                    let college_name = college.college_name;
                    let college_description = college.college_description;
                    let coursesArray = [];
                    let collegeOption = '';

                    collegeOption = `<option value="${college_name}">${college_name}</option>`;

                    if (college.courses && Array.isArray(college.courses)) {
                        if (college.courses.length > 0) {

                            college.courses.forEach(course => {
                                let course_name = course.course_name;
                                let course_id = course.course_id;
                                let course_description = course.course_description;
                                coursesArray.push({ course_id: course_id, course_name: course_name, course_description: course_description });
                            });
                        }
                    }
                    const collegeObject = {
                        college_id,
                        college_name,
                        college_description,
                        courses: coursesArray
                    };
                    collegesArray.push(collegeObject);
                    collegeSelect.innerHTML += collegeOption;

                });
            })
            .catch(error => {
                console.error('Error fetching colleges:', error);
            });
    }

    getCollege();

    function populateCourses(selectedCollegeName) {
        const courseSelect = document.getElementById('filterCourse');
        const option = document.createElement('option');
        courseSelect.innerHTML = '<option value="">Course</option>';

        const selectedCollege = collegesArray.find(college => college.college_name === selectedCollegeName);
        if (selectedCollege) {
            selectedCollege.courses.forEach(course => {
                const option = document.createElement('option');
                option.value = course.course_name;
                option.textContent = course.course_name;
                courseSelect.appendChild(option);
            });
        }
    }

    const collegeSelect = document.getElementById('filterCollege');
    collegeSelect.addEventListener('change', () => {
        const selectedCollegeId = collegeSelect.value;
        populateCourses(selectedCollegeId);
    });
</script>
<script>
    var documentsDataTable;
    var visFilesize = false;
    var visLog = false;

    if('{{ current_user.role }}' === 'admin'){
        visFilesize = true;
        visLog = true
    }

    function dataTableFunction() {
        documentsDataTable = $('#documentsTable').DataTable({
            stripeClasses: [],
            language: {
                paginate: {
                    previous: '<a class="fa-solid fa-caret-left"></a>',
                    next: '<a class="fa-solid fa-caret-right"></a>',
                },
                'emptyTable': 'No documents found. Please check back or refresh the page.'
            },
            scrollY: '60vh',
            scrollX: true,
            scrollCollapse: true,
            'processing': true,
            'responsive': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/documents/manage/data/fetch/',
                'headers': { 'X-CSRFToken': '{{ csrf_token() }}' },
                'data': function (data) {
                    data.filterSearch = $('#filterSearch').val();
                    data.filterCollege = $('#filterCollege').val();
                    data.filterCourse = $('#filterCourse').val();
                    data.filterSemester = $('#filterSemester').val();
                    data.filterYear = $('#filterYear').val();
                },
                'dataSrc': function (json) {
                    if (!json.aaData) {
                        return [];
                    } else {
                        return json.aaData;
                    }
                },
                'error': function (xhr, error, thrown) {
                    // Custom error handling
                    const errorMessage = `An error occurred while loading the data. Please try again later.`;
                    const errStatus = `AJAX error: ${xhr.status} ${xhr.statusText}.`;
                    alert(errorMessage);
                    console.error(errStatus, error, thrown); // Log error for debugging
                }
            },
            'lengthMenu': [[25, 50, 100, -1], [25, 50, 100, "All"]],
            'deferRender': true,
            'scroller': true,
            'columns': [
                { data: 'id', orderable: true, title: '#' },
                {
                    'data': 'Filename',
                    title: 'File',
                    orderable: true,
                    wrap: true,
                    class: 'text-start',
                    "render": function (data, type, row) {
                        const file_name = '<span>' + data + '</span>'
                        return `<div class="fw-medium d-flex"><span class="fa-solid fa-file-image me-4 fw-small align-self-center"></span>` + file_name + `</div>`;
                    }
                },
                {
                    data: 'File_size',
                    title: 'File size',
                    orderable: true,
                    wrap: true,
                    className: 'text-center',
                    width: '100px',
                    visible: visFilesize,
                    "render": function (data, type, row) {
                        if (data) {
                            return data;
                        }
                        else {
                            return '';
                        }
                    }
                },
                { data: 'College', title: 'College', orderable: true, wrap: false, className: 'text-center' },
                { data: 'Section', title: 'Course', orderable: true, wrap: false, className: 'text-center', width: '70px' },
                { data: 'Subject', title: 'Subject', orderable: false, wrap: true, },
                { data: 'Semester', title: 'Semester', orderable: false, wrap: false, className: 'text-center', width: '75px' },
                { data: 'SchoolYear', title: 'Year', orderable: true, wrap: true, className: 'text-center', width: '100px' },
                {
                    data: 'Uploader',
                    title: ' ',
                    orderable: false,
                    wrap: false,
                    visible: true,
                    "render": function (data, type, row) {
                        if (data) {
                            const Uploader = '<span>' + data + '</span>'
                            return `<div class="fw-medium d-flex mx-auto" style="max-width:100px;"><span class="fa-solid fa-user me-3 fw-xsmall align-self-center border rounded-5 bg-red bg-light-gray" style="padding:0.25rem; width:0.75rem;height:0.75rem;"></span>` + Uploader + `</div>`;
                        } else {
                            return '';
                        }
                    }
                },
                {
                    'data': 'id',
                    title: 'Action',
                    orderable: false,
                    wrap: true,
                    width: '50px',
                    "render": function (data, type, row) {
                        const editFile = `<a id="editThis" class="flex-fill text-center" onclick="editDocument(` + row['id'] + `)"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover"
                                                    data-bs-html="true"
                                                    title="Edit">
                                                <span class="fa-solid fa-pen"></span>
                                            </a>`;
                        const deleteFile = `<a id="deleteThis" class="flex-fill text-center" onclick="deleteDocument(` + row['id'] + `)"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover"
                                                    data-bs-html="true"
                                                    title="Delete">
                                                <span class="fa-solid fa-trash text-danger"></span>
                                            </a>`;

                        return `<div class="d-flex fs-small align-items-center">` + editFile + ' ' + deleteFile + `</div>`;
                    }
                }
            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).count();
                if (rows <= 1) { // Adjust this value based on your needs
                    // Hide pagination controls
                    $(api.table().container()).find('.dataTables_paginate').hide();
                } else {
                    // Show pagination controls
                    $(api.table().container()).find('.dataTables_paginate').show();
                }
            }
        });

        $('#documentsTable tbody').on('dblclick', 'tr', function () {
            var data = documentsDataTable.row(this).data();
            preview(data.image_id);
        });

        $('#filterSearch').keyup(function () {
            documentsDataTable.draw();
        });

        $('#filterCollege').change(function () {
            documentsDataTable.draw();
        });
        $('#filterCourse').change(function () {
            documentsDataTable.draw();
        });
        $('#filterSemester').change(function () {
            documentsDataTable.draw();
        });
        $('#filterYear').change(function () {
            documentsDataTable.draw();
        });
    }

    dataTableFunction();

    $('#filterShow').change(function () {
        var value = $(this).val();  // Get the selected value
        // Change the select value of #recordsTable_length
        $('#documentsTable_length select').val(value).change();
        if (value == -1) {  // If "All" is <selected></selected>
            $('.dataTables_wrapper .dataTables_paginate').addClass('d-none');  // Hide the pagination
        } else {
            $('.dataTables_wrapper .dataTables_paginate').removeClass('d-none');  // Show the pagination
        }
    });

</script>
<script>
    //preview
    function preview(ImageID) {
        fetch('/documents/manage/data/file/fetch_data/' + ImageID)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(encodedImage => {
                let previewImageDisplay = document.getElementById('previewImageDisplay');
                previewImageDisplay.src = 'data:image/jpeg;base64,' + encodedImage;

                // Show the modal
                let modal = new bootstrap.Modal(document.getElementById('showPreviewModal'));
                modal.show();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }

    // Clear the image source when the modal is hidden
    $('#showPreviewDocumentModal').on('hidden.bs.modal', function (e) {
        document.getElementById('previewImageDisplay').src = '';
    })

    //edit
    function editDocument(documentEntryId) {

        fetch('/documents/manage/data/document_header/request/data/' + documentEntryId)
            .then(response => response.json())
            .then(documentsData => {

                let filename = documentsData.filename;
                let document_college = documentsData.college;
                let document_course = documentsData.course;
                let year_level = documentsData.year_level;
                let section = documentsData.section;
                let subject = documentsData.subject;
                let unit = documentsData.unit;
                let semester = documentsData.semester;
                let academic_year = documentsData.academic_year;

                function extractYears(year) {
                    if (!year || year.trim() === "") {
                        return {
                            starting_year: "",
                            ending_year: "",
                        };
                    }

                    const yearArray = year.split("-");
                    const starting_year = yearArray[0];
                    const ending_year = yearArray[1];
                    return {
                        starting_year,
                        ending_year,
                    };
                }

                const school_year = extractYears(academic_year);

                let html = `
                    <div id="form-item" class="py-2">
                        <label class="fw-medium" for="update_documentfilename">Filename</label>
                        <input type="text" class="form-control" id="update_documentfilename" name="update_documentfilename" placeholder="${filename}" value="${filename}" disabled required>
                    </div>
                    <div class="d-flex gap-3 py-2">
                        <div id="form-item" class="flex-fill">
                            <label class="fw-medium" for="update_documentSubject">Subject</label>
                            <input type="text" class="form-control" id="update_documentSubject" name="update_documentSubject" placeholder="${subject}" value="${subject}" required>
                        </div>
                        <div id="form-item" style="width:130px;">
                            <label class="fw-medium" for="update_documentUnit">Unit</label>
                            <select class="form-select rounded-3 text-truncate" id="update_documentUnit" name="update_documentUnit" placeholder="${unit}" value="${unit}" required>
                                <option value="0" ${unit === 0 ? 'selected' : ''}></option>
                                <option value="1" ${unit === 1 ? 'selected' : ''}>Lecture</option>
                                <option value="2" ${unit === 2 ? 'selected' : ''}>Laboratory</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <div id="form-item" class="flex-fill py-2 w-50" >
                            <label class="fw-medium" for="update_documentCollege">College</label>
                            <select class="form-select pe-5 text-truncate" id="update_documentCollege" name="update_documentCollege" value="${document_college}" required>
                            </select>
                        </div>
                        <div id="form-item" class="flex-fill py-2 w-50">
                            <label class="fw-medium" for="update_documentCourse">Course</label>
                            <select class="form-select pe-5 text-truncate" id="update_documentCourse" name="update_documentCourse" value="${document_course}" required>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex gap-4 py-2">
                        <div id="form-item" style="width:120px;">
                            <label class="fw-medium" for="update_documentYear_level">Year level</label>
                            <select class="form-select rounded-3 text-truncate" id="update_documentYear_level" name="update_documentYear_level" placeholder="${year_level}" value="${year_level}" required>
                                <option value="0" ${year_level === 0 ? 'selected' : ''}> </option>
                                <option value="1" ${year_level === 1 ? 'selected' : ''}> 1st </option>
                                <option value="2" ${year_level === 2 ? 'selected' : ''}> 2nd </option>
                                <option value="3" ${year_level === 3 ? 'selected' : ''}> 3rd </option>
                                <option value="4" ${year_level === 4 ? 'selected' : ''}> 4th </option>
                                <option value="5" ${year_level === 5 ? 'selected' : ''}> Masteral </option>
                            </select>
                        </div>
                        <div id="form-item" style="width:90px;">
                            <label class="fw-medium" for="update_documentSection">Section</label>
                            <input type="text" class="form-control text-center" id="update_documentSection" name="update_documentSection" placeholder="${section}" value="${section}" maxlength="2" required>
                        </div>
                        <div id="form-item" style="width:120px">
                            <label class="fw-medium" for="update_documentSemester">Semester</label>
                            <select class="form-select rounded-3 text-truncate" id="update_documentSemester" name="update_documentSemester" placeholder="${semester}" value="${semester}" required>
                                <option value="0" ${semester === 0 ? 'selected' : ''}> </option>
                                <option value="1" ${semester === 1 ? 'selected' : ''}> 1st Sem </option>
                                <option value="2" ${semester === 2 ? 'selected' : ''}> 2nd Sem</option>
                                <option value="3" ${semester === 3 ? 'selected' : ''}> Off-Sem </option>
                            </select>
                        </div>
                        <div id="form-item" style="max-width: 170px;">
                            <label class="fw-bold ps-2" for="documnt_academicYear">Academic Year</label>
                            <span class="d-flex">
                                <input type="number" class="form-control text-center" id="starting_year"
                                        name="starting_year" placeholder="${school_year.starting_year === "" ? 'YYYY' : school_year.starting_year}" value="${school_year.starting_year}" min="1978" max="9999" required>
                                <span class="mx-2 fa-solid fa-minus fs-default"
                                        style="padding: 9.1px 0px;max-width: 1rem;"></span>
                                <input type="number" class="form-control text-center" id="ending_year"
                                        name="ending_year" placeholder="${school_year.ending_year === "" ? 'YYYY' : school_year.ending_year}" value="${school_year.ending_year}" min="1978" max="9999" required>
                            </span>
                        </div>
                    </div>
                `;
                // Set the HTML of the parent element
                document.getElementById('updateDocument_data').innerHTML = html;
                //populate the colleges select
                function setCollegesUpdate(selectedCollegeid) {
                    const collegeUpdateSelect = document.getElementById('update_documentCollege');

                    collegeUpdateSelect.innerHTML = '';
                    collegeUpdateSelect.innerHTML = `<option value=""> </option>`;

                    collegesArray.forEach(college => {
                        const option = document.createElement('option');
                        option.value = college.college_id;
                        option.textContent = '(' + college.college_name + ') ' + college.college_description;

                        if (selectedCollegeid !== 0) {
                            if (college.college_id === selectedCollegeid) {
                                option.selected = true;
                            }
                        }
                        collegeUpdateSelect.appendChild(option);
                    });
                }
                //populate the course select
                function setCoursesUpdate(selectedCollegeid, selectedCourseID) {
                    const selected_college_id = parseInt(selectedCollegeid);
                    const courseUpdateSelect = document.getElementById('update_documentCourse');
                    const option = document.createElement('option');
                    courseUpdateSelect.innerHTML = '<option value=""> </option>';

                    const selectedCollege = collegesArray.find(college => college.college_id === selected_college_id);
                    if (selectedCollege) {
                        selectedCollege.courses.forEach(course => {
                            const option = document.createElement('option');
                            option.value = course.course_id;
                            option.textContent = '(' + course.course_name + ') ' + course.course_description;
                            if (selectedCourseID !== 0) {
                                if (course.course_id === selected_college_id) {
                                    option.selected = true;
                                }
                            }
                            courseUpdateSelect.appendChild(option);
                        });
                    }
                }
                //setting up college and course selection populate values and selected from fetch data
                setCollegesUpdate(document_college);
                setCoursesUpdate(document_college, document_course);

                const update_collegeSelect = document.getElementById('update_documentCollege');
                update_collegeSelect.addEventListener('change', () => {
                    const selectedCollegeId = update_collegeSelect.value;
                    setCoursesUpdate(selectedCollegeId, 0);
                });

                //doument file name formatter function
                $("#update_documentCollege, #update_documentCourse, #update_documentYear_level, #update_documentUnit, #update_documentSemester").change(function () {
                    updateObjectEdit('#update_documentCollege', '#update_documentCourse', '#update_documentYear_level', '#update_documentSection', '#update_documentSubject', '#update_documentUnit', '#update_documentSemester', '#starting_year', '#ending_year');
                    updateDocumentName('#update_documentfilename');
                });
                $("#update_documentSubject, #update_documentSection, #starting_year, #ending_year").on('input', function () {
                    updateObjectEdit('#update_documentCollege', '#update_documentCourse', '#update_documentYear_level', '#update_documentSection', '#update_documentSubject', '#update_documentUnit', '#update_documentSemester', '#starting_year', '#ending_year');
                    updateDocumentName('#update_documentfilename');
                });

                const customStartingYearInput = document.getElementById('starting_year');
                const customEndingYearInput = document.getElementById('ending_year');
                // Event listener for starting year input
                customStartingYearInput.addEventListener('input', function () {
                    updateYearStart(customStartingYearInput, customEndingYearInput);
                });
                // Event listener for ending year input
                customEndingYearInput.addEventListener('input', function () {
                    updateYearEnd(customStartingYearInput, customEndingYearInput);
                });
            });

        let modal = new bootstrap.Modal(document.getElementById('UpdateDocumentModal'));
        modal.show();


        $('#update_document_information').on('click', function (event) {
            event.preventDefault();

            var document_id = documentEntryId;
            let update_filename = $('#update_documentfilename').val();
            let update_college = $('#update_documentCollege').val();
            let update_course = $('#update_documentCourse').val();
            let update_year_level = $('#update_documentYear_level').val();
            let update_section = $('#update_documentSection').val();
            let update_semester = $('#update_documentSemester').val();
            let update_subject = $('#update_documentSubject').val();
            let update_unit = $('#update_documentUnit').val();

            let update_starting_year = $('#starting_year').val();
            let update_ending_year = $('#ending_year').val();
            let update_academicYear = update_starting_year && update_ending_year ? update_starting_year + '-' + update_ending_year : '';

            //set the data
            let formData = {
                'document_id': document_id,
                'update_filename': update_filename,
                'update_college': update_college,
                'update_course': update_course,
                'update_year_level': update_year_level,
                'update_section': update_section,
                'update_semester': update_semester,
                'update_subject': update_subject,
                'update_unit': update_unit,
                'update_academicYear': update_academicYear,
            };

            $.ajax({
                url: '/documents/manage/data/document_header/update',
                type: 'POST',
                data: formData,
                headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
                success: function (data) {
                    documentsDataTable.draw();
                    switch (data.update_query) {
                        case 'no changes':
                            break;
                        case 'success'://the user successfully appended in the database
                            showToast('Success!', 'Document updated successfully.', 'fc-green fa-solid fa-circle-check', 'border-success');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'failed'://error in processing occured
                            showToast('Update Error occurred!', 'Failed to modify document data.', 'text-warning fa-solid fa-triangle-exclamation', 'border-warning');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'No Selected Document'://user already exist in the database
                            showToast('Document not Found', 'Please Try again.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        default:
                            showToast(data.update_query, 'Please Try again.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                    }
                },
                //handle the ajax error 
                error: function (error) {
                    console.error('Error:', error);
                    showToast('Error', 'Update error occurred.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                }
            });
        });
    }

    //delete
    function deleteDocument(documentEntryID) {

        let modal = new bootstrap.Modal(document.getElementById('DeleteDocument_confirmation'));
        modal.show();

        $('#delete_document_information').on('click', function (event) {
            event.preventDefault();

            var document_id = documentEntryID; // Ensure that this variable is declared with let or const
            let formData = { 'document_id': document_id };

            $.ajax({
                url: '/documents/manage/data/file/delete',
                type: 'POST',
                data: (formData),
                headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
                success: function (data) {
                    documentsDataTable.draw();
                    switch (data.delete_query) {
                        case 'success':
                            showToast('Success!', 'Document deleted successfully.', 'text-success fa-solid fa-circle-check', 'border-success');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'failed':
                            showToast('Deletion Error occurred!', 'Failed to delete Document. ', 'text-warning fa-solid fa-triangle-exclamation', 'border-warning');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        default:
                            showToast(data.query_result, 'Please Try again.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                    }
                },
                //handle the ajax error 
                error: function (error) {
                    console.error('Error:', error);
                    showToast('Error', 'Deletion error occurred.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                }
            });
        });
    }
</script>
{% endblock%}