{% extends 'layout/users.html' %}
{% block title %}Documents | ARDS{% endblock %}
{% block style %}
<link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}

<section>
    <div class="page-header-title p-2 border-bottom border-1 mb-4">
        <h5 class="fw-bold">Archive Documents</h5>
        <p class="fs-medium fst-italic"> An efficient tool for managing archived document, simplifying tracking and
            retrieval.</p>
    </div>
</section>

{% endblock%}

{% block scripts %}
{% endblock%}