{% extends 'layout/users.html' %}
{% block title %} {{ current_user.username }} | ARDS{% endblock %}
{% block style %}

{% endblock %}

{% block content %}

<section class="">
    <div
        class=" p-4 rounded-top-3 w-full {% if current_user.role == 'staff' %} bg-red-gradient {% elif current_user.role == 'admin' %} bg-gray {% endif %}">
    </div>
    <div class="d-flex justify-content-between w-full mb-3">
        <div class="d-fex text-start p-2">
            <div class="rounded-circle p-2 bg-white border-4 border text-center position-absolute ms-2"
                style="width:5rem; height:5rem; top:2.25rem">
                <div class="fa-solid fa-user" style="font-size: 3rem;"></div>
            </div>
            <div style="margin-left: 7rem;">
                <h5 class="fw-bold">
                    {{ preview_fullname}}
                </h5>
                <h6>
                    <span class="mx-2 fw-medium fst-italic"> @{{ preview_username }}</span>
                    <span class="ms-5"> {{ preview_role }} </span>
                </h6>
            </div>
        </div>
</section>
{% endblock%}

{% block scripts %}
{% endblock%}