{% extends 'layout/users.html' %}
{% block title %}Records | ARDS{% endblock %}
{% block style %}
<link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}

{% block content %}
    <style>
        #recordsTable_filter {
            display: none;
        }
    
        #recordsTable_length {
            display: block;
        }
    </style>

<section>
    <div class="page-header-title p-2 border-bottom border-1 mb-4">
        <h3 class="fw-bold">Student Records</h3>
        <p class="fs-medium fst-italic"> An efficient tool for managing document records and tags, simplifying tracking
            and retrieval.</p>
    </div>
    <div class="d-flex justify-content-between gap-4 mb-3 mx-2">
        <div class="flex-grow-1" id="filtersearch_global" style="max-width: 40%;">
            <input type="text" class="form-control w-full" id="filterSearch" placeholder="Search...">
        </div>
        <div class="d-flex justify-content-end gap-3" id="filterContainer">
            <div class="d-flex" style="width: 180px;">
                <span class="fw-medium p-2">College:</span>
                <select id="filterCollege" class="form-select">
                </select>
            </div>
            <div class="d-flex" style="width: 180px;">
                <span class="fw-medium p-2">Course:</span>
                <select id="filterCourse" class="form-select">
                </select>
            </div>
            <div class="d-flex" style="width: 200px;">
                <span class="fw-medium p-2">Semester:</span>
                    <select id="filterSemester" class="form-select">
                        <option value=""></option>
                        <option value="1st">1st Sem</option>
                        <option value="2nd">2nd Sem</option>
                        <option value="Off-Sem">Off-Sem</option>
                    </select>
            </div>
            <div class="d-flex" style="width: 180px;">
                <span class="fw-medium p-2">Year</span>
                <select id="filterYear" class="form-select">
                    <option value="">YYYY-YYYY</option>
                    <option value="1998-1999">1998-1999</option>
                </select>
            </div>
            <div class="d-flex" style="width: 120px;">
                <span class="fw-medium p-2">Show</span>
                <select id="filterShow" class="form-select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">All</option>
                </select>
            </div>
        </div>
    </div>

    <table id='recordsTable' class='display dataTable' cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="text-center">id</th>
                <th>Full Name</th>
                <th class="college-th text-center">College</th>
                <th class="course-th text-center">Course</th>
                <th class="section-th text-center">Section</th>
                <th class="subject-th text-center">Subject</th>
                <th class="semester-th text-center">Semester</th>
                <th class="academic-year-th text-center">Academic Year</th>
                <th class="action-th text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your data goes here -->
        </tbody>
    </table>
</section>

{% endblock%}

{% block scripts %}
<script>
    var collegesArray = [];

    function getCollege() {
        fetch('/fetch_college/courseList/data')
            .then(response => response.json())
            .then(colleges => {
                collegesArray = [];
                let collegeSelect = document.getElementById('filterCollege');
                collegeSelect.innerHTML = '';
                collegeSelect.innerHTML = `<option value=""></option>`;

                colleges.forEach(college => {

                    let college_id = college.college_id;
                    let college_name = college.college_name;
                    let coursesArray = [];
                    let collegeOption = '';

                    collegeOption = `<option value= "${college_name}">${college_name}</option>`;

                    if (college.courses && Array.isArray(college.courses)) {
                        if (college.courses.length > 0) {

                            college.courses.forEach(course => {
                                let course_name = course.course_name;
                                let course_id = course.course_id;
                                coursesArray.push({ course_id: course_id, course_name: course_name, });
                            });
                        }
                    }
                    const collegeObject = {
                        college_id,
                        college_name,
                        courses: coursesArray
                    };
                    collegesArray.push(collegeObject);
                    collegeSelect.innerHTML += collegeOption;
                });
            })
            .catch(error => {
                console.error('Error fetching colleges:', error);
            });
    }

    getCollege();

    function populateCourses(selectedCollegeName) {
        const courseSelect = document.getElementById('filterCourse');
        const option = document.createElement('option');
        courseSelect.innerHTML = '<option value=""></option>';

        const selectedCollege = collegesArray.find(college => college.college_name === selectedCollegeName);
        if (selectedCollege) {
            selectedCollege.courses.forEach(course => {
                const option = document.createElement('option');
                option.value = course.course_name;
                option.textContent = course.course_name;
                courseSelect.appendChild(option);
            });
        }
    }

    const collegeSelect = document.getElementById('filterCollege');
    collegeSelect.addEventListener('change', () => {
        const selectedCollegeId = collegeSelect.value;
        populateCourses(selectedCollegeId);
    });

    console.log(collegesArray)
</script>
<script>
    $(document).ready(function () {
        var recordsDataTable = $('#recordsTable').DataTable({
            stripeClasses: [],
            language: {
                paginate: {
                    previous: '<a class="fa-solid fa-caret-left"></a>',
                    next: '<a class="fa-solid fa-caret-right"></a>',
                }
            },
            "scrollY": "50vh",
            "scrollCollapse": true,
            'processing': true,
            'responsive': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/records_data',
                'headers': { 'X-CSRFToken': '{{ csrf_token() }}' },
                'data': function (data) {
                    data.filterSearch = $('#filterSearch').val();
                    data.filterCollege = $('#filterCollege').val();
                    data.filterCourse = $('#filterCourse').val();
                    data.filterSemester = $('#filterSemester').val();
                    data.filterYear = $('#filterYear').val();
                }
            },
            'columns': [
                { data: 'id', orderable: true, className: 'text-center bg-transparent' },
                { data: 'FullName', orderable: true, className: 'bg-transparent' },
                { data: 'College', orderable: true , className: 'text-center' },
                { data: 'Course', orderable: true , className: 'text-center' },
                { data: 'Section', orderable: true , className: 'text-center' },
                { data: 'Subject', orderable: false },
                { data: 'Semester', orderable: false, className: 'text-center' },
                { data: 'SchoolYear', orderable: true, className: 'text-center' },
                {
                    'data': 'id',
                    title: 'Action',
                    wrap: true,
                    "render": function (data, type, row) {
                        const viewIcon = '<span class="fa-solid fa-eye"></span>'
                        const editIcon = '<span class="fa-solid fa-pen"></span>'
                        const deleteIcon = '<span class="fa-solid fa-trash"></span>'

                        const viewLink = '<a id="viewThis" data-bs-toggle="modal" data-bs-target="#viewModal" class= "' + data + '">' + viewIcon + '</a>';
                        const editLink = '<a id="editThis" data-bs-toggle="modal" data-bs-target="#editModal" class= "' + data + '">' + editIcon + '</a>';
                        const deleteLink = '<a id="deleteThis" data-bs-toggle="modal" data-bs-target="#deleteModal" class= "' + data + '">' + deleteIcon + '</a>';

                        return `<div class="d-flex justify-content-between mx-2">` + viewLink + ' ' + editLink + ' ' + deleteLink + `</div>`;
                    }
                }
            ],
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1]
            }]
        });

        $('#filterSearch').keyup(function () {
            recordsDataTable.draw();
        });

        $('#filterCollege').change(function () {
            recordsDataTable.draw();
        });
        $('#filterCourse').change(function () {
            recordsDataTable.draw();
        });
        $('#filterSemester').change(function () {
            recordsDataTable.draw();
        });
        $('#filterYear').change(function () {
            recordsDataTable.draw();
        });
    });            
</script>


{% endblock%}