{% extends 'layout/users.html' %}
{% block title %}Records | ARDS{% endblock %}
{% block style %}
<link href="{{url_for('static',filename='DataTables/datatables.min.css')}}" rel='stylesheet'>
<script src="{{url_for('static',filename='DataTables/datatables.min.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}

{% block content %}
<style>
    #recordsTable_filter {
        display: none;
    }

    #recordsTable_length {
        display: none;
    }
</style>

<section>
    <div class="page-header-title p-2 border-bottom border-1 mb-4">
        <h3 class="fw-bold">Student Records</h3>
        <p class="fs-medium fst-italic"> An efficient tool for managing document records and tags, simplifying tracking
            and retrieval.</p>
    </div>
    <div class="d-flex justify-content-between gap-3 mb-3 mx-2">
        <div class="flex-grow-1" id="filtersearch_global" style="max-width: 40%;">
            <input type="text" class="form-control w-full text-truncate" id="filterSearch" placeholder="Search...">
        </div>
        <div class="d-flex justify-content-end gap-2 fs-medium" id="filterContainer">
            <div class="d-flex" style="width: 160px;">
                <span class="fw-medium p-2">College:</span>
                <select id="filterCollege" class="form-select text-truncate fs-medium">
                    <option value=""></option>
                </select>
            </div>
            <div class="d-flex" style="width: 170px;">
                <span class="fw-medium p-2">Course:</span>
                <select id="filterCourse" class="form-select text-truncate fs-medium">
                    <option value=""></option>
                </select>
            </div>
            <div class="d-flex" style="width: 185px;">
                <span class="fw-medium p-2">Semester:</span>
                <select id="filterSemester" class="form-select fs-medium">
                    <option value=""></option>
                    <option value="1st">1st Sem</option>
                    <option value="2nd">2nd Sem</option>
                    <option value="Off-Sem">Off-Sem</option>
                </select>
            </div>
            <div class="d-flex" style="width: 165px;">
                <span class="fw-medium p-2">Year</span>
                <select id="filterYear" class="form-select fs-medium">
                    <option value="">YYYY-YYYY</option>
                    <option value="1998-1999">1998-1999</option>
                </select>
            </div>
            <div class="d-flex" style="width: 120px;">
                <span class="fw-medium p-2">Show</span>
                <select id="filterShow" class="form-select fs-medium">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="50">100</option>
                    <option value="10000">All</option>
                </select>
            </div>
        </div>
    </div>

    <table id='recordsTable' class='display dataTable table-borderless table-hover fc-default' cellspacing="0"
        width="100%" >
        <thead>
            <tr>
                <th class="tr-id">ID</th>
                <th class="fullname-th text-center">Full Name</th>
                <th class="college-th text-center">College</th>
                <th class="course-th text-center">Course</th>
                <th class="section-th text-center">Section</th>
                <th class="subject-th text-center">Subject</th>
                <th class="unit-th text-center">Unit</th>
                <th class="semester-th text-center">Semester</th>
                <th class="academic-year-th text-center">Year</th>
                <th class="action-th text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your data goes here -->
        </tbody>
    </table>
</section>

{% endblock%}

{% block scripts %}
<script>
    //preview
    function preview(rowID) {
        console.log(rowID);

        fetch('/getDocImage/image/data/' + rowID)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(encodedImage => {
                let previewImageDisplay = document.getElementById('previewImageDisplay');
                previewImageDisplay.src = 'data:image/jpeg;base64,' + encodedImage;

                // Show the modal
                let modal = new bootstrap.Modal(document.getElementById('showPreviewModal'));
                modal.show();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }

    // Clear the image source when the modal is hidden
    $('#showPreviewModal').on('hidden.bs.modal', function (e) {
        document.getElementById('previewImageDisplay').src = '';
    })

    function downloadImage() {
            // Assuming 'image' is a global variable holding your image data
            var image = document.getElementById('previewImageDisplay').src;

            // Download the image
            var link = document.createElement('a');
            link.href = image;
            link.download = 'download.jpg';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

    //edit
    //delete
</script>
<script>
    //populate data table
    var collegesArray = [];

    function getCollege() {
        fetch('/fetch_college/courseList/data')
            .then(response => response.json())
            .then(colleges => {
                collegesArray = [];
                let collegeSelect = document.getElementById('filterCollege');
                collegeSelect.innerHTML = '';
                collegeSelect.innerHTML = `<option value=""></option>`;

                colleges.forEach(college => {

                    let college_id = college.college_id;
                    let college_name = college.college_name;
                    let coursesArray = [];
                    let collegeOption = '';

                    collegeOption = `<option value= "${college_name}">${college_name}</option>`;

                    if (college.courses && Array.isArray(college.courses)) {
                        if (college.courses.length > 0) {

                            college.courses.forEach(course => {
                                let course_name = course.course_name;
                                let course_id = course.course_id;
                                coursesArray.push({ course_id: course_id, course_name: course_name, });
                            });
                        }
                    }
                    const collegeObject = {
                        college_id,
                        college_name,
                        courses: coursesArray
                    };
                    collegesArray.push(collegeObject);
                    collegeSelect.innerHTML += collegeOption;
                });
            })
            .catch(error => {
                console.error('Error fetching colleges:', error);
            });
    }

    getCollege();

    function populateCourses(selectedCollegeName) {
        const courseSelect = document.getElementById('filterCourse');
        const option = document.createElement('option');
        courseSelect.innerHTML = '<option value=""></option>';

        const selectedCollege = collegesArray.find(college => college.college_name === selectedCollegeName);
        if (selectedCollege) {
            selectedCollege.courses.forEach(course => {
                const option = document.createElement('option');
                option.value = course.course_name;
                option.textContent = course.course_name;
                courseSelect.appendChild(option);
            });
        }
    }

    const collegeSelect = document.getElementById('filterCollege');
    collegeSelect.addEventListener('change', () => {
        const selectedCollegeId = collegeSelect.value;
        populateCourses(selectedCollegeId);
    });
</script>
<script>
    $(document).ready(function () {
        var recordsDataTable = $('#recordsTable').DataTable({ 
            stripeClasses: [],
            language: {
                paginate: {
                    previous: '<a class="fa-solid fa-caret-left"></a>',
                    next: '<a class="fa-solid fa-caret-right"></a>',
                }
            },
            scrollY: '60vh',
            scrollX: true,
            scrollCollapse: false,
            'processing': true,
            'responsive': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/records_data',
                'headers': { 'X-CSRFToken': '{{ csrf_token() }}' },
                'data': function (data) {
                    data.filterSearch = $('#filterSearch').val();
                    data.filterCollege = $('#filterCollege').val();
                    data.filterCourse = $('#filterCourse').val();
                    data.filterSemester = $('#filterSemester').val();
                    data.filterYear = $('#filterYear').val();
                }
            },
            'lengthMenu': [[25, 50, 100, 10000], [25, 50, 100, "All"]],
            'columns': [
                { data: 'id', orderable: true },
                { data: 'FullName', orderable: true, className: 'fw-medium'},
                { data: 'College', orderable: true, className: 'text-center' },
                { data: 'Course', orderable: true, className: 'text-center' },
                { data: 'Section', orderable: true, className: 'text-center' },
                { data: 'Subject', orderable: false, className: 'text-wrap' },
                { data: 'Unit', orderable: false, className: 'text-center'},
                { data: 'Semester', orderable: false, className: 'text-center'},
                { data: 'SchoolYear', orderable: true, className: 'text-center'},
                {
                    'data': 'id',
                    title: 'Action',
                    wrap: true,
                    orderable: false,
                    "render": function (data, type, row) {
                        const viewLink = '<a id="viewThis" class="flex-fill" onclick="preview(' + row['image_id'] + ')"><span class="fa-solid fa-eye"></span></a>';
                        const editLink = '<a id="editThis" class="flex-fill" onclick="editRecord(' + row['id'] + ')"><span class="fa-solid fa-pen"></span></a>';
                        const deleteLink = '<a id="deleteThis" class="flex-fill" onclick="deleteRecord(' + row['id'] + ')"><span class="fa-solid fa-trash"></span></a>';

                        return `<div class="d-flex fs-small">` + viewLink + ' ' + editLink + ' ' + deleteLink + `</div>`;
                    }
                }
            ],
        });

        $('#filterSearch').keyup(function () {
            recordsDataTable.draw();
        });

        $('#filterCollege').change(function () {
            recordsDataTable.draw();
        });
        $('#filterCourse').change(function () {
            recordsDataTable.draw();
        });
        $('#filterSemester').change(function () {
            recordsDataTable.draw();
        });
        $('#filterYear').change(function () {
            recordsDataTable.draw();
        });

        $('#toggle_navbar').click(function () {
            recordsDataTable.columns.adjust().draw();
        });

        $('#recordsTable tbody').on('dblclick', 'tr', function () {
            var data = recordsDataTable.row(this).data();
            preview(data.image_id);
        });
    });
</script>

{% endblock%}