{% extends 'layout/users.html' %}
{% block title %}Records | ARDS{% endblock %}
{% block style %}
<link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}

<section>
    <div class="page-header-title p-2 border-bottom border-1 mb-4">
        <h3 class="fw-bold">Student Records</h3>
        <p class="fs-medium fst-italic"> An efficient tool for managing document records and tags, simplifying tracking
            and retrieval.</p>
    </div>
    <div class="m-3">
        <table id='recordsTable' class='display dataTable' cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Full Name</th>
                    <th>College</th>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Subject</th>
                    <th>Semester</th>
                    <th>Academic Year</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your data goes here -->
            </tbody>
        </table>



    </div>
</section>

{% endblock%}

{% block scripts %}
<script>
    $(document).ready(function () {
        var csrf_token = "{{ csrf_token() }}";  // Get CSRF token from Flask

        var recordsDataTable = $('#recordsTable').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                url: '/records_data',
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrf_token);  // Set CSRF token in the request header
                },
            },
            'lengthMenu': [[10, 25, 50, 100], [10, 25, 50, "All"]],
            searching: true,
            sort: true,
            "serverSide": true,
            columns: [
                { data: 'id', orderable: true },
                { data: 'FullName', orderable: true },
                { data: 'College', orderable: true },
                { data: 'Course', orderable: true },
                { data: 'Section', orderable: true },
                { data: 'Subject', orderable: true },
                { data: 'Semester', orderable: true },
                { data: 'SchoolYear', orderable: true },
                {
                    'data': 'id',
                    title: 'Action',
                    wrap: true,
                    "render": function (data, type, row) {
                        const viewIcon = '<span class="fa-solid fa-eye"></span>'
                        const editIcon = '<span class="fa-solid fa-pen"></span>'
                        const deleteIcon = '<span class="fa-solid fa-trash"></span>'

                        const viewLink = '<a id="viewThis" data-bs-toggle="modal" data-bs-target="#viewModal" class= "' + data + '">' + viewIcon + '</a>';
                        const editLink = '<a id="editThis" data-bs-toggle="modal" data-bs-target="#editModal" class= "' + data + '">' + editIcon + '</a>';
                        const deleteLink = '<a id="deleteThis" data-bs-toggle="modal" data-bs-target="#deleteModal" class= "' + data + '">' + deleteIcon + '</a>';

                        return viewLink + ' ' + editLink + ' ' + deleteLink;
                    }

                }
            ],
            'order': [[1, 'asc']]
        });
    });            
</script>


{% endblock%}