{% extends 'layout/users.html' %}
{% block title %}Trash | ARDS{% endblock %}
{% block style %}
<link href="{{url_for('static',filename='DataTables/datatables.min.css')}}" rel='stylesheet'>
<script src="{{url_for('static',filename='DataTables/datatables.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}

{% block content %}
<section>
    <div class="page-header-title p-2 mb-2">
        <h5 class="fw-bold fs-def">Trash</h5>
        <p class="fs-medium fst-italic"> </p>
    </div>
    <div class="d-flex justify-content-between">
        <div class="flex-grow-1" id="filtersearch_global" style="max-width: 40%;">
            <input type="text" class="form-control w-full text-truncate fs-medium" id="filterSearch" placeholder="Search..." >
        </div>
    </div>
    <table id='trashbinTable' class='display dataTable table-borderless table-hover fc-default fs-medium' cellspacing="0"
        width="100%">
    </table>
</section>

{% endblock%}
{% block modals%}{% include '/partials/modals/account_modals.html' %}
{% include '/partials/modals/trashbin_modals.html' %}
{% endblock%}
{% block scripts %}
<script>
    var trashDataTable;

    function dataTableFunction() {
        trashDataTable = $('#trashbinTable').DataTable({
            stripeClasses: [],
            language: {
                paginate: {
                    previous: '<a class="fa-solid fa-caret-left"></a>',
                    next: '<a class="fa-solid fa-caret-right"></a>',
                },
                'emptyTable': 'No deleted files found. Please check back or refresh the page.'
            },
            scrollY: '60vh',
            scrollX: true,
            scrollCollapse: true,
            'processing': true,
            'responsive': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/admin/trash/manage/data/fetch-data/deleted-files/trash-list',
                'headers': { 'X-CSRFToken': '{{ csrf_token() }}' },
                'data': function (data) {
                    data.filterSearch = $('#filterSearch').val();
                },
                'dataSrc': function (json) {
                    if (!json.aaData) {
                        return [];
                    } else {
                        return json.aaData;
                    }
                },
                'error': function (xhr, error, thrown) {
                    // Custom error handling
                    const errorMessage = `An error occurred while loading the data. Please try again later.`;
                    const errStatus = `AJAX error: ${xhr.status} ${xhr.statusText}.`;
                    alert(errorMessage);
                    console.error(errStatus, error, thrown); // Log error for debugging
                }
            },
            'lengthMenu': [[25, 50, 100, -1], [25, 50, 100, "All"]],
            'deferRender': true,
            'scroller': true,
            'columns': [
                {
                    'data': 'Filename',
                    title: 'File',
                    orderable: true,
                    wrap: true,
                    className: 'text-start',
                    "render": function (data, type, row) {
                        const student_name = '<span>' + data + '</span>'
                        return `<div class="fw-medium d-flex"><span class="fa-solid fa-file-image me-4 fw-small align-self-center"></span>` + student_name + `</div>`;
                    }
                },
                { data: 'studentCount', title: 'Students', orderable: true, wrap: false, className: 'text-center', width: '90px' },
                { data: 'File_size', title: 'File size ', orderable: false, wrap: false, className: 'text-center', width: '100px' },
                {
                    data: 'editor',
                    title: 'Deleted by',
                    orderable: false,
                    wrap: false,
                    className: 'text-center',
                    width: '200px',
                    "render": function (data, type, row) {
                        const editor = '<span>' + data + '</span>'
                        return `<div class="fw-medium d-flex mx-auto" style="max-width:100px;"><span class="fa-solid fa-user me-3 fw-xsmall align-self-center border rounded-5 bg-light-gray" style="padding:0.25rem"></span>` + editor + `</div>`;
                    }
                },
                { data: 'Trash_date', title: 'Trashed date', orderable: true, wrap: false, className: 'text-center', width: '120px' },
                {
                    'data': 'id',
                    title: ' ',
                    orderable: false,
                    wrap: true,
                    width: '80px',
                    "render": function (data, type, row) {
                        const recoverfile = `<a id="deleteThis" class="flex-fill text-center" onclick="restoreFile(` + row['id'] + `)"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="right"
                                                    data-bs-trigger="hover"
                                                    data-bs-html="true"
                                                    title="Restore">
                                                <span class="fa-solid fa-clock-rotate-left fc-default"></span>
                                            </a>`;

                        const deleteFile = `<a id="deleteThis" class="flex-fill text-center" onclick="deleteTrash(` + row['id'] + `)"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover"
                                                    data-bs-html="true"
                                                    title="Delete">
                                                <span class="fa-solid fa-trash text-danger"></span>
                                            </a>`;

                        return `<div class="d-flex align-items-center">` + recoverfile + '' + deleteFile + `</div>`;
                    }
                }
            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).count();
                if (rows <= 1) { // Adjust this value based on your needs
                    // Hide pagination controls
                    $(api.table().container()).find('.dataTables_paginate').hide();
                } else {
                    // Show pagination controls
                    $(api.table().container()).find('.dataTables_paginate').show();
                }
            }
        });

        $('#trashbinTable tbody').on('dblclick', 'tr', function () {
            var data = trashDataTable.row(this).data();
            preview(data.image_id);
        });

        $('#filterSearch').keyup(function () {
            trashDataTable.draw();
        });
    }

    dataTableFunction();
</script>
<script>
    function preview(ImageID) {
        fetch('/admin/trash/manage/data/file/fetch_data/' + ImageID)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(encodedImage => {
                let previewImageDisplay = document.getElementById('previewImageDisplay');
                previewImageDisplay.src = 'data:image/jpeg;base64,' + encodedImage;

                // Show the modal
                let modal = new bootstrap.Modal(document.getElementById('showPreviewModal'));
                modal.show();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }

    function restoreError(documentID) {
        let modal = new bootstrap.Modal(document.getElementById('restoreFileError'));
        modal.show();
    }

    function customRestore(documentID, customRestore) {
        let modal = new bootstrap.Modal(document.getElementById('custom_restoreFile_confirmation'));
        modal.show();
    }

    function restoreFile(documentID) {
        let modal = new bootstrap.Modal(document.getElementById('restoreFile_confirmation'));
        modal.show();

        $('#initial_restoreFile').on('click', function (event) {
            event.preventDefault();

            var document_id = documentID; // Ensure that this variable is declared with let or const
            let formData = { 'document_id': document_id };

            $.ajax({
                url: '/admin/trash/manage/data/item-document/restore-file',
                type: 'POST',
                data: (formData),
                headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
                success: function (data) {
                    trashDataTable.draw();
                    switch (data.recover_query) {
                        case 'success':
                            showToast('Document successfully restored!', 'The item is now active in the system.', 'text-success fa-solid fa-circle-check', 'border-dark');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'failed':
                            showToast('Error!', 'Failed to Restore file. ', 'text-warning fa-solid fa-triangle-exclamation', 'border-warning');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'duplicate':
                            restoreError(documentID);
                            break;
                    }
                },
                //handle the ajax error 
                error: function (error) {
                    console.error('Error:', error);
                    showToast('Error', 'Restore error occurred.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                }
            });
        });
    }

    function deleteTrash(documentID) {

        let modal = new bootstrap.Modal(document.getElementById('deleteTrash_confirmation'));
        modal.show();

        $('#delete_trash').on('click', function (event) {
            event.preventDefault();

            var document_id = documentID; // Ensure that this variable is declared with let or const
            let formData = { 'document_id': document_id };

            $.ajax({
                url: '/admin/trash/manage/data/item-document/push-delete-permanent',
                type: 'POST',
                data: (formData),
                headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
                success: function (data) {
                    trashDataTable.draw();
                    switch (data.delete_query) {
                        case 'success':
                            showToast('Success!', 'The file has been deleted permanently.', 'text-success fa-solid fa-circle-check', 'border-dark');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                        case 'failed':
                            showToast('Error!', 'Unable to delete the file. Please try again later.', 'text-danger fa-solid fa-triangle-exclamation', 'border-danger');
                            new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            break;
                    }
                },
                //handle the ajax error 
                error: function (error) {
                    console.error('Error:', error);
                    showToast('Error', 'Delete error occurred.', 'text-danger fa-solid fa-circle-exclamation', 'border-danger');
                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                }
            });
        });
    }
</script>
{% endblock%}