{% extends 'layout/users.html' %}
{% block title %} Users Manager | ARDS{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/user_controller.css')}}">

{% endblock %}

{% block content %}

<section class="p-2">
    <div class="page-header-title p-2 border-bottom border-1 mb-4">
        <h4 class="fw-medium">Account Manager</h4>
        <p>Lorem Ipsum</p>
    </div>
    <div class="d-flex justify-content-end">
        <div class="d-flex justify-content-between mx-3">
            <select class=' p-2 rounded-3 mx-3' id="changeDisplay-roles">
                <option value="any"> All Accounts </option>
                <option value="staff"> Staff Accounts</option>
                <option value="admin"> Admin Accounts</option>
            </select>
            <select class=' p-2 rounded-3 mx-3' id="changeDisplay-status">
                <option value="all"> Any </option>
                <option value="active"> Active </option>
                <option value="deactivated"> Deactivated</option>
            </select>
        </div>
        <button class="button" data-bs-toggle="modal" data-bs-target="#addUser_modal"> Add User</button>
    </div>

    <div class="my-5" id="users_data"></div>
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x" id="toastContainer">
        <!-- Toasts will be added here -->
    </div>

</section>
{% endblock %}

{% block scripts %}
<script>
    // Function to show and hide popup
    function showPopup(id) {
        // Hide all popups
        var popups = document.getElementsByClassName('manage_user_button');
        for (var i = 0; i < popups.length; i++) {
            popups[i].style.opacity = '0';
            setTimeout(function () {
                popups[i].classList.add('d-none');
            }, 1000); // Add d-none class after 1 second
        }

        // Show the clicked popup
        var popup = document.getElementById(id);
        popup.classList.remove('d-none');
        popup.style.opacity = '1';
        // Hide the popup after 5 seconds
        var timeoutId = setTimeout(function () {
            popup.style.opacity = '0';
            setTimeout(function () {
                popup.classList.add('d-none');
            }, 1000); // Add d-none class after 1 second
        }, 3000); // Start hiding after 3 seconds

        // Cancel the hiding when the mouse is over the popup
        popup.onmouseover = function () {
            clearTimeout(timeoutId);
        };
        // Restart the hiding when the mouse leaves the popup
        popup.onmouseout = function () {
            timeoutId = setTimeout(function () {
                popup.style.opacity = '0';
                setTimeout(function () {
                    popup.classList.add('d-none');
                }, 1000); // Add d-none class after 1 second
            }, 3000); // Start hiding after 3 seconds
        };
    }

    function populateUsers(toggle) {
        fetch('/admin/account_manager/display_staff_users/' + toggle)
            .then(response => response.json())
            .then(users => {
                let usersDataDiv = document.getElementById('users_data');
                usersDataDiv.innerHTML = '';
                users.forEach(user => {
                    var popup_id = Math.random();
                    let statusClass = user.status === 'deactivated' ? 'fc-gray' : (user.online === 'online' ? 'fc-green' : 'fc-orange');
                    let card = `
        <div class="users-entry card my-2 rounded-4 prevent-select" id="${user.user_id}" ondblclick = "previewUser(${user.user_id})" )>
            <div class="card-body d-flex justify-content-between flex-nowrap">
                <div class="me-4 account_info d-flex">
                    <div class="p-2 me-3 border rounded-4" style="width:50px;height: 50px;">
                    </div>
                    <span class="position-absolute" style="bottom:1rem; left:50px"><i class="fa-solid fa-circle me-3 ${statusClass}"></i></span>
                    <div class="p-2">
                        <p class="fw-bold">${user.fullname}</p>
                        <p class="fst-italic">${user.username}</span></p>
                    </div>
                </div>
                <div class="online_status p-2">
                    <p class="fst-italic fs-medium">${user.last_online}</p>
                </div>
                <div class="status_manager p-2" id="status_manager">
                    <select class='border-0 p-2 rounded-3' value = "${user.status}" id="${user.user_id}">
                        <option value="active" ${user.status === 'active' ? 'selected' : ''}> Active </option>
                        <option value="deactivated" ${user.status === 'deactivated' ? 'selected' : ''}> Deactivated </option>
                    </select>
                </div>
                <div class="py-3" id="manage_user_button">

                    <a class ="py-3 px-3 fc-default text-decoration-none popup_button" onclick="showPopup(${popup_id})">
                        <span class="fa-solid fa-ellipsis-vertical"> </span>
                    </a>
                    <span class="position-absolute top-50 start-100 translate-middle ms-5 manage_user_button d-none " id="${popup_id}">
                        <div class = "vstack gap-2 col-md-5 mx-auto ms-5" style="width:120px;">
                            <button class="button btn-gray" onclick="previewUser(${user.user_id})">Preview</button>
                            <button class="button btn-gray edit_buttonUser" id="${user.user_id}">Edit Profile</button>
                        </div>
                    </span>
                </div>
            </div>
        </div> 
            `;
                    usersDataDiv.innerHTML += card;
                });

                let selects = document.querySelectorAll('.status_manager select');
                selects.forEach(select => {
                    select.addEventListener('change', event => {
                        let user_id = event.target.id;
                        let newValue = event.target.value;

                        let formData = {
                            'user_id': user_id,
                            'user_state': newValue
                        }

                        $.ajax({
                            url: '/admin/account_manager/user_state/',
                            type: 'POST',
                            data: formData,
                            headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
                            success: function (data) {
                                console.log('message :' + data.change_state);
                                populateUsers('all-any');
                                if (data.change_state === 'success') {
                                    showToast('Success!', 'User status changed.', 'fc-green fa-solid fa-circle-check', 'border-success');
                                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                                }
                                else {
                                    showToast('Change Status Error occurred!', 'Failed to ' + newValue + ' user.', 'fc-orange fa-solid fa-triangle-exclamation', 'border-warning');
                                    new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                                }
                            },
                            error: function (error) {
                                console.error('Error:', error);
                                showToast('Error', 'Change status error occurred.', 'fc-red fa-solid fa-triangle-exclamation', 'border-warning');
                                new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                            }
                        });
                    });
                });
            });
    }
    //change category to display list of cards
    let changeDisplay_status = document.getElementById('changeDisplay-status');
    let changeDisplay_roles = document.getElementById('changeDisplay-roles');

    let changeDisplay_status_value = changeDisplay_status.value;
    let changeDisplay_roles_value = changeDisplay_roles.value;

    changeDisplay_status.addEventListener('change', event => {
        changeDisplay_status_value = event.target.value;
        populateUsers(changeDisplay_status_value + '-' + changeDisplay_roles_value);
    });

    changeDisplay_roles.addEventListener('change', event => {
        changeDisplay_roles_value = event.target.value;
        populateUsers(changeDisplay_status_value + '-' + changeDisplay_roles_value);
    });

    //change state of displaying popup
    
    //when load populate the cards
    window.onload = (event) => {
        populateUsers('all-any');
    };
    //every 10 min reload the populate of cards for real time updates
    setInterval(() => populateUsers('all-any'), 600000);
</script>
<script>
    //preview user function
    function previewUser(profile_id) {
        location.href = ('/admin/account_manager/preview/' + profile_id);
    }
</script>
<script>
    //show toast message of the status
    function showToast(title, message, className, bordercol) {
        let toastContainer = document.getElementById('toastContainer');

        let toastHTML = `<div class="toast align-items-center border border-bottom-2  ${bordercol}" role="alert" aria-live="assertive" aria-atomic="true" id="add_userToast">
                            <div class="d-flex">
                                <div class="toast-body d-flex">
                                    <span class="fs-large ${className} me-3"> </span> <span class="fw-bold me-2">${title}</span> ${message}
                                </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                        `;

        toastContainer.innerHTML = toastHTML;
    }
    //add user function
    $('#signup_user').on('click', function (event) {
        event.preventDefault();
        //set data from the modal.html forms
        let fullname = $('#newuser_fullname').val();
        let username = $('#newuser_username').val();
        let role = $('#newuser_role').val();
        let password = $('#newuser_password').val();
        let repassword = $('#newuser_repassword').val();
        //set the data
        let formData = {
            'newuser_fullname': fullname,
            'newuser_username': username,
            'newuser_role': role,
            'newuser_password': password,
            'newuser_repassword': repassword
        };
        //send the data through ajax and recieve a corresponding status report of query
        $.ajax({
            url: '/admin/account_manager/manage/new_user',
            type: 'POST',
            data: formData,
            headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
            success: function (data) {
                console.log('message :' + data.update_query);
                switch (data.update_query) {
                    case 'success'://the user successfully appended in the database
                        populateUsers('all-any');
                        showToast('Success!', 'User added successfully.', 'fc-green fa-solid fa-circle-check', 'border-success');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'failed'://error in processing occured
                        showToast('Upload Error occurred!', 'Failed to add user.', 'fc-orange fa-solid fa-triangle-exclamation', 'border-warning');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                    case 'duplicate user'://user already exist in the database
                        showToast('User Already Exist!', 'Please Try again.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                        new bootstrap.Toast(document.querySelector('#add_userToast')).show();
                        break;
                }
            },
            //handle the ajax error 
            error: function (error) {
                console.error('Error:', error);
                showToast('Error', 'Upload error occurred.', 'fc-red fa-solid fa-circle-exclamation', 'border-danger');
                new bootstrap.Toast(document.querySelector('#add_userToast')).show();
            }
        });
    });
</script>

<script>
    //password strenght function and password confirmation error
    // Get the password input elements
    let password = document.getElementById('newuser_password');
    let repassword = document.getElementById('newuser_repassword');
    let progressBar = document.querySelector('.progress-bar');
    let strengthIndicator = document.getElementById('strength_indicator');
    let submitButton = document.getElementById('button_showConfirmationAddUser');

    // Define the width, color, and strength arrays
    let widthPower = ["1%", "25%", "50%", "75%", "100%"];
    let colorPower = ["#D73F40", "#DC6551", "#ff9f00", "#BDE952", "#29cc0e"];
    let strength = ["Too Short", "Weak", "Fair", "Good", "Strong"];

    // Add an input event listener to the password field
    password.oninput = function () {
        let point = 0;
        let value = password.value;

        // Check the password strength
        if (value.length >= 6) {
            let arrayTest = [/[0-9]/, /[a-z]/, /[A-Z]/, /[^0-9a-zA-Z]/];
            arrayTest.forEach((item) => {
                if (item.test(value)) {
                    point += 1;
                }
            });
        } else if (value.length > 0) {
            point = 0;
        }

        // Update the progress bar and strength indicator
        progressBar.style.width = widthPower[point];
        progressBar.style.backgroundColor = colorPower[point];
        progressBar.setAttribute('aria-valuenow', parseInt(widthPower[point]));
        strengthIndicator.textContent = strength[point];
        //disable submit button
        if (point < 4) { submitButton.disabled = true; } else { submitButton.disabled = false; }
        
        //confirmation password error 
        if (password.value === repassword.value) {
            password.classList.remove("is-invalid");
            repassword.classList.remove("is-invalid");
            submitButton.disabled = false;
        }
        else {
            password.classList.add("is-invalid");
            repassword.classList.add("is-invalid");
            submitButton.disabled = true;
        }
    }
    //confirmation password repassword
    repassword.oninput = function () {
        if (password.value === repassword.value) {
            password.classList.remove("is-invalid");
            repassword.classList.remove("is-invalid");
            submitButton.disabled = false;
        }
        else {
            password.classList.add("is-invalid");
            repassword.classList.add("is-invalid");
            submitButton.disabled = true;
        }
    }
</script>

{% endblock %}