@import url(main.css);

#statsFilterContainer button:hover{
    opacity: 0.9;
    color: black;
}

.inputs-forms {
    display: block;
    margin: auto;
}

#newuser_role:hover {
    font-weight: 600;
}

#newuser_role:focus {
    outline: none;
    box-shadow: none;
    border: var(--fc-darker) solid 1px
}

.users-entry {
    min-width: 40vw;
}

.account_info {
    min-width: 200px;
}

.online_status {
    min-width: 300px;
}

.manage_user_button {
    transition: opacity 350ms ease-in-out;
}

option {
    padding: 1rem;
}

.accordion-button.collapsed, .accordion-button.collapsed:focus{
    background-color: var(--bg-gray);
}


.accordion-button:not(.collapsed):focus,
.accordion-button:not(.collapsed) {
    box-shadow: none;
    border-color: none;
    background-color: var(--color-red-active) !important;
}

.accordion-button:collapsed:focus,
.accordion-button.collapsed {
    box-shadow: none;
    border-color: none;
    background-color: var(--bg-gray) !important;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

