@import url(main.css);

.inputs-forms {
    display: block;
    margin: auto;
}

#newuser_role:hover {
    font-weight: 600;
}

#newuser_role:focus {
    outline: none;
    box-shadow: none;
    border: var(--fc-darker) solid 1px
}
.users-entry{
    min-width: 40vw;
}
.account_info{
    min-width: 200px;
}

.online_status{
    min-width: 180px;
}

.manage_user_button {
    transition: opacity 350ms ease-in-out;
}

option {
    padding: 1rem;
}