<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='logo/our-logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" />
    <link rel="stylesheet"
        href="{{url_for('static',filename='node_modules/@fortawesome/fontawesome-free/css/all.min.css')}}" />
    <script src="{{url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='node_modules/@fortawesome/fontawesome-free/js/all.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
    {% block style%}{% endblock%}
</head>

<body style="overflow-y: hidden;">
    <div class="d-flex justify-content-start">
        {% include '/partials/sidebar.html' %}
        <div class="d-flex flex-fill" id="pages_container">
            <div
                class="container-fluid flex-nowrap my-2 me-2 border rounded-4 bg-white {% if request.path == url_for('staff.account', user = current_user.username) or request.path == url_for('admin.account', user = current_user.username) %} p-0 {% else %} p-3 {% endif %}">
                <div class="scrollable_page-section">
                    {% block content %}
                    {% endblock %}

                    {% if request.path != url_for('admin.benchmarker') and request.path != url_for('staff.upload') %}
                    {% include '/partials/footer.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include '/partials/modals.html' %}
    <script>
        //show toast message of the status
        function showToast(title, message, className, bordercol) {
            let toastContainer = document.getElementById('toastContainer');

            let toastHTML = `<div class="toast align-items-center opacity-75 border border-bottom-2 ${bordercol}" role="alert" aria-live="assertive" aria-atomic="true" id="add_userToast" >
                                <div class="d-flex">
                                    <div class="toast-body d-flex">
                                        <span class="fs-large ${className} me-3"> </span> <span class="fw-bold me-2">${title}</span> ${message}
                                    </div>
                                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div> `;

            toastContainer.innerHTML = toastHTML;
        }
    </script>
    {% block scripts %} {% endblock %}
    <script src="{{url_for('static',filename='js/heartbeat.js')}}"></script>
</body>

</html>