<footer class="text-center justify-content-center fs-small mt-5 prevent-select">
    <!--
    <div class="d-flex justify-content-center position-relative" style="top:-1rem;">
        <img class="logo-medium rounded-circle mx-2" src="{{url_for('static',filename='logo/usep-logo.png')}}"
            alt="USeP Logo">
        <img class="logo-medium rounded-circle mx-2" src="{{url_for('static',filename='logo/our-logo.png')}}"
            alt="OUR Logo">
    </div>
-->
    <div class="d-flex justify-content-center fw-bold">
        <span class="px-2">University of Southeastern Philippines</span>
        <span>•</span>
        <span class="px-2">Office of the University Registrar</span>
    </div>
    <div>
        <span class="pe-2">Copyright © 2024. All Rights Reserved.</span>
        <span class="text-decoration-underline"><a class="fc-default fw-medium"
                href="https://www.usep.edu.ph/usep-data-privacy-statement/" target="_blank"> Privacy Policy </a></span>
    </div>
</footer>