<div class="p-0 m-0 shadow-sm w-full">
    <div class="w-full m-0 bg-red-gradient" style="height:5px;"></div>
    <div class="w-full container-xxl d-flex justify-content-between fw-medium" style="padding: 8px;">
        <div class="d-flex justify-content-start" id="usep_logo_title my-1">
            <img class="rounded-circle logo-large d-flex align-self-center"
                src="{{url_for('static',filename='logo/our-logo.png')}}" alt="USeP Logo">
            <div class="bg-light-gray my-1 mx-3" style="width: 1px;"></div>

            <div class="lh-medium px-0 h-full d-flex flex-column align-self-center">
                <div class="fs-def" style="min-height: 20px;">
                    <span class="fc-orange">One</span>
                    <span class="fc-red"> Data.</span>
                    <span class="fc-orange">One</span>
                    <span class="fc-red"> USeP.</span>
                </div>
                <div class="fs-small flex-fill"> Archival Records Digitization System</div>
            </div>

        </div>
        <div class="d-flex justify-content-start d-none" id="registrar_logo_title my-1" style="visibility: hidden;">
            <div class="fs-medium lh-medium h-full d-flex flex-column align-self-center text-end px-0">
                <div><span>Office of the</span></div>
                <div><span>University Registrar</span></div>
            </div>
            <div class="bg-light-gray my-1 mx-3" style="width:1px;"></div>
            <img class="rounded-circle logo-large align-self-center" style="margin-top:2px"
                src="{{url_for('static',filename='logo/our-logo.png')}}" alt="OUR Logo">
        </div>
    </div>
</div>