<div class="p-0 m-0 shadow-sm w-full">
    <div class="w-full m-0 bg-red-gradient" style="height:0.25rem;"></div>
    <div class="w-full container-xxl p-2 d-flex justify-content-between fw-medium">
        <div class="d-flex justify-content-start" id="usep_logo_title my-1">
            <img class="rounded-circle logo-large" style="margin-top:2px;"
                src="{{url_for('static',filename='logo/usep-logo.png')}}" alt="USeP Logo">
            <div class="bg-light-gray my-1 mx-3" style="width: 1px;"></div>
            <div class="lh-medium px-0">
                <div class="fs-large">
                    <span class="fc-orange">One</span>
                    <span class="fc-red"> Data.</span>
                    <span class="fc-orange">One</span>
                    <span class="fc-red"> USeP.</span>
                </div>
                <div class="fs-small"> Archival Records Digitization System</div>
            </div>
        </div>
        <div class="d-flex justify-content-start" id="registrar_logo_title my-1">
            <div class="fs-medium lh-medium text-end px-0">
                <div><span>Office of the</span></div>
                <div><span>University Registrar</span></div>
            </div>
            <div class="bg-light-gray my-1 mx-3" style="width:1px;"></div>
            <img class="rounded-circle logo-large" style="margin-top:2px"
                src="{{url_for('static',filename='logo/our-logo.png')}}" alt="OUR Logo">
        </div>
    </div>
</div>