<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <h5 class="fw-bold">Sign out</h5>
        <p> Are you sure you want to signout? All your unsaved data will </p>
      </div>

      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Close</button>
          <a href="{{url_for('auth.logout')}}" id="logout_currentUser" class="btn-red fw-bold text-decoration-none button">Sign out</a>
      </div>
    </div>
  </div>
</div>