<div class="toast-container position-fixed start-50 translate-middle-x" id="toastContainer" style="top:1rem">
</div>

<div class="modal fade" id="logout_Confirmation" tabindex="-1" role="dialog" aria-labelledby="logout_Confirmation"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-3 border-orange">
      <div class="modal-body mx-3">
        <h5 class="fw-bold">Sign out</h5>
        <p class="ms-2"> Are you sure you want to signout? All your unsaved data will be erased.</p>
      </div>
      <div class="modal-footer mx-3">
        <button type="button" data-bs-dismiss="modal" class="button me-3 fs-medium fw-medium px-4">Close</button>
        <a href="{{url_for('auth.logout')}}" id="logout_currentUser"
          class="btn-orange text-decoration-none button fs-medium fw-medium px-4">
          Sign out
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showPreviewModal" data-bs-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="showPreviewModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="max-height: 80vh;">
      <div class="modal-body">
        <p id="file_info"></p>
        <div class="imageContainer py-2">
          <img src="" alt="" id="previewImageDisplay">
        </div>
      </div>
    </div>
  </div>
</div>

{% if current_user.role == 'admin' and request.path == url_for('admin.account_manager')%}
<! --add account form -->
  <div class="modal fade" id="addUser_modal" tabindex="-1" role="dialog" aria-labelledby="addUser_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="p-2 fw-bold">Create Account</h5>
          <div class="p-2">
            <form action="{{ url_for('account_manager.create_account')}}" method="post" id="add_user">
              <div class="inputs-forms px-3 my-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_fullname">Staff Name</label>
                  <input type="text" class="form-control" id="newuser_fullname" name="newuser_fullname"
                    onchange="checkname('fullname', '0', 'newuser_fullname')" placeholder="e.g. Juan Dela Cruz"
                    required>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_username">Username</label>
                  <input type="text" class="form-control" id="newuser_username" name="newuser_username"
                    onchange="checkname('username', '0', 'newuser_username')" maxlength="16"
                    placeholder="e.g. jhoneager234" required>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_password">Password</label>
                  <input type="password" class="form-control" id="newuser_password" name="newuser_password"
                    minlength="8" maxlength="50" placeholder="********" required>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_repassword">Confirm Password</label>
                  <input type="password" class="form-control" id="newuser_repassword" name="newuser_repassword"
                    minlength="8" maxlength="50" placeholder="********" required>
                </div>
                <div id="addUser_password_strengthchecker" class="py-3 container px-0">
                  <div class="row">
                    <div class="col-7">
                      <div class="progress my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100" style="height: 5px;">
                        <div class="progress-bar"></div>
                      </div>
                    </div>
                    <div class="col text-end" id="addUser_strength_indicator"> No Password</div>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="button mx-2 fs-medium fw-medium px-4" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#addUser_confirmation" type="button" id="button_showConfirmationAddUser" disabled>
                Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_account_modal" tabindex="-1" role="dialog" aria-labelledby="edit_account_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addUser_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="addUser_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Register Account </h5>
            <p class="ms-2">Are you sure you want to create a new account?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button me-3 fs-medium fw-medium px-4">Cancel</button>
          <button id="signup_user" class="btn-green text-decoration-none button fs-medium fw-medium px-4"
            data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Change_UserStatus_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="Change_UserStatus_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button me-3 fs-medium fw-medium px-4"
            onclick="populateUsers('all-any')">
            Cancel
          </button>
          <button id="update_user_status" class="btn-red button fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="UpdateCredentials_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="UpdateCredentials_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Update Profile Credentials </h5>
            <p class="ms-2"> Are you sure you want to update this user ?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="button me-3 fs-medium fw-medium px-4"
            onclick="populateUsers('all-any')">Cancel</button>
          <button id="update_user_credentials" class="btn-green text-decoration-none fs-medium fw-medium px-4"
            data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_accountConfirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="delete_accountConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-orange border-3">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-4"> Are you sure to delete this account? </h5>
            <p class="ms-2" style="text-align: justify;text-justify: inter-word;">Deleting this account will initiate a
              30-day period
              during which the account remains inactive. After this period,
              the account and all related data will be permanently deleted. This action cannot be undone.</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-toggle="modal" data-bs-target="#edit_account_modal"
            class="button me-3 fs-medium fw-medium px-4" onclick="populateUsers('all-any')">Cancel</button>
          <button id="delete_user_profile" class="btn-orange text-decoration-none fs-medium fw-medium px-4"
            data-bs-dismiss="modal">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if current_user.role == 'admin' and request.path == url_for('admin.col_course_manager')%}

  <div class="modal fade" id="addColleges_modal" tabindex="-1" role="dialog" aria-labelledby="addColleges_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:600px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Add a College</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.create_college')}}" method="post" id="new_college">
              <div class="d-flex gap-3 py-3">
                <div id="form-item" style="width: 120px;">
                  <label class="fw-medium" for="newcollege_name">Abbrevation.</label>
                  <input type="text" class="form-control" id="newcollege_name" name="newcollege_name"
                    placeholder="e.g CIC" required>
                </div>
                <div id="form-item" class="flex-fill">
                  <label class="fw-medium" for="newcourse_name">Course</label>
                  <input type="text" class="form-control text-truncate flex-fill" id="newcollege_nameDescription"
                    name="newcollege_nameDescription" placeholder="e.g College of Information and Computing" required>
                </div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="mx-2 fs-medium fw-medium px-4" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#addColleges_confirmation" type="button" id="button_showConfirmationAddColleges"
                disabled> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCourses_modal" tabindex="-1" role="dialog" aria-labelledby="addCourses_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:600px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Add a Course</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.create_courses')}}" method="post" id="new_courses">
              <div class="inputs-forms px-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="addon_College">College</label>
                  <select class="form-select py-2 rounded-3" name="addon_College" id="addon_College" required>
                  </select>
                </div>
                <div class="d-flex gap-3 py-3">
                  <div id="form-item" style="width: 120px;">
                    <label class="fw-medium" for="newcourse_name">Abbrevation.</label>
                    <input type="text" class="form-control" id="newcourse_name" name="newcourse_name"
                      placeholder="e.g BSIT" required>
                  </div>
                  <div id="form-item" class="flex-fill">
                    <label class="fw-medium" for="newcourse_name">Course</label>
                    <input type="text" class="form-control text-truncate flex-fill" id="newcourse_nameDescription"
                      name="newcourse_nameDescription" placeholder="e.g Bachelor of Science in Information Security"
                      required>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="mx-2 fs-medium fw-medium px-4" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#addCourses_confirmation" type="button" id="button_showConfirmationAddCourses" disabled>
                Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCollege_modal" tabindex="-1" role="dialog" aria-labelledby="editCollege_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:700px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Manage College</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.update_college')}}" method="post" id="edit_college">
              <div class="inputs-forms px-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="update_college">College</label>
                  <div class="d-flex gap-2">
                    <input type="text" class="form-control update_collegeField" name="update_college"
                      style="width: 100px;" required>
                    <input type="text" class="form-control update_collegeDescriptionField flex-fill"
                      name="update_collegeDescription" required>
                  </div>
                </div>
                <div id="populate_coursesList"></div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="mx-2 fs-medium fw-medium px-4" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#editCollege_confirmation" type="button" id="button_showConfirmation_editCollege">
                Update </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="moveCourses_modal" tabindex="-1" role="dialog" aria-labelledby="moveCourses_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 55vw; width: auto;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Move course entry</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.change_courseCollege')}}" method="post" id="move_course">
              <div class="inputs-forms px-3 d-flex gap-2">
                <div id="form-item" class="py-2 w-full flex-fill" style="width: 45%;">
                  <label class="fw-medium" for="moveCourse_target">Course</label>
                  <input type="text" class="form-control pe-4 moveCourse_target text-truncate " name="moveCourse_target"
                    id="moveCourse_target" value="${course_name}" disabled>
                </div>
                <div class="py-4">
                  <p class="py-3"><span class="fa-solid fa-angles-right "></span></p>
                </div>
                <div id="form-item" class="py-2 flex-fill" style="width: 45%;">
                  <label class="fw-medium" for="movetoCollege">College</label>
                  <select class="form-select pe-5 text-truncate" name="movetoCollege" id="movetoCollege" required>
                  </select>
                </div>
              </div>
            </form>
            <div class="mt-2 d-flex justify-content-end">
              <button class="mx-2 fs-medium fw-medium px-4" type="button" data-bs-toggle="modal"
                data-bs-target="#editCollege_modal">Cancel</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#moveCourses_confirmation" type="button" id="button_showConfirmation_moveCourses"> Move
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addColleges_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="addColleges_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Add College data </h5>
            <p class="ms-2"> Please review all entered data are correct. Are you sure you want to add this college to
              the database?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4"
            onclick="populateColleges()">Cancel</button>
          <button id="confirm_addCollege" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCourses_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="addCourses_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Add Courses data </h5>
            <p class="ms-s"> Please review all entered data are correct. Are you sure you want to add this course to the
              database?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4"
            onclick="populateColleges()">Cancel</button>
          <button id="confirm_addCourse" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCollege_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="editCollege_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Update College </h5>
            <p class="ms-2">Please review all entered data are correct. Are you sure you want to change the college
              information?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4"
            onclick="populateColleges()">Cancel</button>
          <button id="confirm_updateCollege" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="moveCourses_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="moveCourses_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Move Course</h5>
            <p class="ms-2"> Are you sure you move the <span id="modal_courseChangeText"></span> to <span
                id="modal_collgeChangeText"></span></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4"
            onclick="populateColleges()">Cancel</button>
          <button id="confirm_changeCourse" class="btn-green fw-bold fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == url_for('staff.upload')%}

  <div class="modal fade" id="deleteSelctedList_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="deleteSelctedList_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Remove Selected data </h5>
            <p class="ms-2"> Are you sure you want delete this rows?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4">Cancel</button>
          <button id="removeButton" class="btn-red fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="clearSelctedList_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="clearSelctedList_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Clear Selected data </h5>
            <p class="ms-2"> Are you sure you clear this input fields?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4">Cancel</button>
          <button id="clearButton" class="btn-red fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="selection_uploadTools" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="selection_uploadTools" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-red border-2" id="errorContainerTools">
      </div>
    </div>
  </div>

  <div class="modal fade" id="newRecords_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="newRecords_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="px-3">
            <h5 class="fw-bold mb-3"> Upload Document </h5>
            <p class="ms-2">Please review all entered data are correct. Are you sure you want to upload this document
              data to the database?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4">Cancel</button>
          <button id="comfirm_newRecords" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ocr_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="ocr_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content mx-3">
        <div class="modal-header border-0 d-flex justify-content-between align-items-center p-0">
          <h5 class="fw-bold m-3">Scan the image</h5>
          <button type="button" class="fs-small p-2 fa-solid fa-x" data-bs-dismiss="modal"
            style="margin-top: -1rem; margin-right: 0.5rem;"> </button>
        </div>
        <div class="modal-body mx-3">
          <p class="ms-2">Automatic extract student names from the table or manually crop the table?</p>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" id="ocr_manual" class="fs-medium fw-medium px-4 me-3" data-bs-toggle="modal"
            data-bs-target="#ManualScanImageModal">Manual</button>
          <button type="button" id="ocr_auto" class="btn-red fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Auto
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ManualScanImageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="ManualScanImageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <div class="">
            <h5 class="fw-bold my-3"> Crop Image </h5>
            <div id='crop-image-container' style="height: 500px;">
              <img id="crop_imageSrc" style="max-width: 100%; max-height: 100%;">
            </div>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="crop_customOcr" class="btn-green fs-medium fw-medium px-4">
            Extrat text
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="error_ocr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="error_ocr" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content mx-3 border-orange border-3">
        <div class="modal-body ">
          <div class="mx-3">
            <h5 class="fw-bold my-3">No data student names been detected</h5>
            <p class="ms-2">Proceed to manual scan instead?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button type="button" id="ocr_auto" class="btn-orange fs-medium fw-medium px-4" data-bs-toggle="modal"
            data-bs-target="#ManualScanImageModal">
            Manual Scan
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == url_for('staff.records') or request.path == url_for('admin.records')%}

  <div class="modal fade" id="showPreviewModal" data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="showPreviewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="max-height: 80vh;">
        <div class="modal-body">
          <p id="file_info"></p>
          <div class="imageContainer py-2">
            <img src="" alt="" id="previewImageDisplay">
          </div>
          <div class="d-flex justify-content-end">
            <button class="button fs-medium fw-medium px-4" onclick="downloadImage()"><span
                class="fa-solid fa-download mx-2"></span>
              Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="EditRecordModal" tabindex="-1" role="dialog" aria-labelledby="EditRecordModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:350px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Edit Entry </h5>
          <div class="p-2">
            <form action="{{ url_for('fetch_records.editEntryData')}}" method="post" id="add_user">
              <div class="inputs-forms px-3 my-3" id="updateTag_data">
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="fs-medium fw-medium px-4 mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#UpdateTag_confirmation" type="button" id="button_showConfirmationUpdateTag"> Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="UpdateTag_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="UpdateTag_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold my-3"> Update Student Credentials </h5>
            <p class="ms-2"> Please review all entered data are correct. Are you sure you want to update the credentials
              of the student tagged to this document?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="update_entry_credentials" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="DeleteTag_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="DeleteTag_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-orange border-3">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold my-3">Delete Student Tag</h5>
            <p class="ms-2"> Are you sure you want to delete the tag of the student from this document?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="delete_entry_credentials" class="btn-orange fw-bold fs-medium fw-medium px-4"
            data-bs-dismiss="modal">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == url_for('staff.documents') or request.path == url_for('admin.documents')%}

  <div class="modal fade" id="UpdateDocumentModal" tabindex="-1" role="dialog" aria-labelledby="UpdateDocumentModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Edit Document Information </h5>
          <div class="p-2">
            <form action="{{ url_for('fetch_documents.editDocument')}}" method="post" id="update_document">
              <div class="inputs-forms px-3 my-3" id="updateDocument_data">
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="fs-medium fw-medium px-4 mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fs-medium fw-medium px-4" data-bs-toggle="modal"
                data-bs-target="#UpdateDocuemnt_confirmation" type="button" id="button_showConfirmationUpdateDocument">
                Update </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="UpdateDocuemnt_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="UpdateDocuemnt_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold my-3"> Confirm Document Update </h5>
            <p class="ms-2"> Please review all entered data are correct. Are you sure you want to apply the changes to
              this document?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="update_document_information" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="DeleteDocument_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="DeleteDocument_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-orange border-3">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold my-3"> Delete Document </h5>
            <p class="ms-2">Are you sure you want to delete this document? It will be permanently deleted after 30 days.
            </p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="delete_document_information" class="btn-orange fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == url_for('admin.trashbin') %}

  <div class="modal fade" id="restoreFile_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="restoreFile_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold my-3"> Restore File</h5>
            <p class="ms-2"> Are you sure you want to resotre this file?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="restore_file" class="btn-green fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Restore
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteTrash_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="deleteTrash_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content mx-3 border-orange border-3">
        <div class="modal-body ">
          <div class="mx-3">
            <h5 class="fw-bold my-3">Confirm Permanent Deletion</h5>
            <p class="ms-2">This action cannot be undone. Are you sure you want to permanently delete this file?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="delete_trash" class="btn-orange fs-medium fw-medium px-4" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="clearTrash_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="clearTrash_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content mx-3 border-orange border-3">
        <div class="modal-body ">
          <div class="mx-3">
            <h5 class="fw-bold my-3">Confirm Clear Trash</h5>
            <p class="ms-2">This action cannot be undone. Are you sure you want to permanently delete all documents in
              the trash bin?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="fs-medium fw-medium px-4 me-3">Cancel</button>
          <button id="clear_trash" class="btn-orange fs-medium fw-medium px-4" data-bs-dismiss="modal"
            onclick="clearAllTrash()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}