<div class="toast-container position-fixed start-50 translate-middle-x" id="toastContainer" style="top:1rem">
</div>

<div class="modal fade" id="logout_Confirmation" tabindex="-1" role="dialog" aria-labelledby="logout_Confirmation"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body mx-3 ">
        <h5 class="fw-bold">Sign out</h5>
        <p class="ms-2"> Are you sure you want to signout? All your unsaved data will be erased.</p>
      </div>
      <div class="modal-footer mx-3">
        <button type="button" data-bs-dismiss="modal" class="button me-3">Close</button>
        <a href="{{url_for('auth.logout')}}" id="logout_currentUser"
          class="btn-red fw-bold text-decoration-none button btn-red">
          Sign out
        </a>
      </div>
    </div>
  </div>
</div>

{% if current_user.role == 'admin' and request.path == url_for('admin.account_manager')%}
<! --add account form -->
  <div class="modal fade" id="addUser_modal" tabindex="-1" role="dialog" aria-labelledby="addUser_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="p-2 fw-bold">Create Account</h5>
          <div class="p-2">
            <form action="{{ url_for('account_manager.create_account')}}" method="post" id="add_user">
              <div class="inputs-forms px-3 my-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_fullname">Staff Name</label>
                  <input type="text" class="form-control" id="newuser_fullname" name="newuser_fullname"
                    onchange="checkname('fullname', '0', 'newuser_fullname')" placeholder="e.g. Juan Dela Cruz"
                    required>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_username">Username</label>
                  <input type="text" class="form-control" id="newuser_username" name="newuser_username"
                    onchange="checkname('username', '0', 'newuser_username')" maxlength="16"
                    placeholder="e.g. jhoneager234" required>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_password">Password</label>
                  <input type="password" class="form-control" id="newuser_password" name="newuser_password"
                    minlength="8" maxlength="50" placeholder="********" required>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newuser_repassword">Confirm Password</label>
                  <input type="password" class="form-control" id="newuser_repassword" name="newuser_repassword"
                    minlength="8" maxlength="50" placeholder="********" required>
                </div>
                <div id="addUser_password_strengthchecker" class="py-3 container px-0">
                  <div class="row">
                    <div class="col-7">
                      <div class="progress my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100" style="height: 5px;">
                        <div class="progress-bar"></div>
                      </div>
                    </div>
                    <div class="col text-end" id="addUser_strength_indicator"> No Password</div>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="button mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fw-bold" data-bs-toggle="modal" data-bs-target="#addUser_confirmation"
                type="button" id="button_showConfirmationAddUser" disabled> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="edit_account_modal" tabindex="-1" role="dialog" aria-labelledby="edit_account_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addUser_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="addUser_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Register Account </h5>
            <p class="ms-2">Are you sure you want to create a new account?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button me-3">Cancel</button>
          <button id="signup_user" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Change_UserStatus_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="Change_UserStatus_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button me-3" onclick="populateUsers('all-any')">
            Cancel
          </button>
          <button id="update_user_status" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="UpdateCredentials_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="UpdateCredentials_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Update Profile Credentials </h5>
            <p class="ms-2"> Are you sure you want to update this user ?</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="button me-3"
            onclick="populateUsers('all-any')">Cancel</button>
          <button id="update_user_credentials" class="btn-red fw-bold text-decoration-none button"
            data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_accountConfirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="delete_accountConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-orange border-3">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-4"> Are you sure to delete this account? </h5>
            <p class="ms-2" style="text-align: justify;text-justify: inter-word;">Deleting this account will initiate a 30-day period
              during which the account remains inactive. After this period,
              the account and all related data will be permanently deleted. This action cannot be undone.</p>
          </div>
        </div>
        <div class="modal-footer mx-3">
          <button type="button" data-bs-dismiss="modal" class="button me-3"
            onclick="populateUsers('all-any')">Cancel</button>
          <button id="delete_user_profile" class="btn-orange fw-bold text-decoration-none button"
            data-bs-dismiss="modal">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if current_user.role == 'admin' and request.path == url_for('admin.col_course_manager')%}

  <div class="modal fade" id="addColleges_modal" tabindex="-1" role="dialog" aria-labelledby="addColleges_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Add a College</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.create_college')}}" method="post" id="new_college">
              <div class="inputs-forms px-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newcollege_name">College Name</label>
                  <input type="text" class="form-control" id="newcollege_name" name="newcollege_name"
                    oninput="checkCollege('newcollege_name', 'button_showConfirmationAddColleges')" required>
                </div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="button mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fw-bold" data-bs-toggle="modal" data-bs-target="#addColleges_confirmation"
                type="button" id="button_showConfirmationAddColleges" disabled> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCourses_modal" tabindex="-1" role="dialog" aria-labelledby="addCourses_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Add a Course</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.create_courses')}}" method="post" id="new_courses">
              <div class="inputs-forms px-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="addon_College">College</label>
                  <select class="form-select py-2 rounded-3" name="addon_College" id="addon_College" required>
                  </select>
                </div>
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="newcourse_name">Courses</label>
                  <input type="text" class="form-control" id="newcourse_name" name="newcourse_name"
                    oninput="checkCourses('newcourse_name', 'button_showConfirmationAddCourses')" required>
                </div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="button mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fw-bold" data-bs-toggle="modal" data-bs-target="#addCourses_confirmation"
                type="button" id="button_showConfirmationAddCourses" disabled> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCollege_modal" tabindex="-1" role="dialog" aria-labelledby="editCollege_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:450px;">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Manage College</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.update_college')}}" method="post" id="edit_college">
              <div class="inputs-forms px-3">
                <div id="form-item" class="py-2">
                  <label class="fw-medium" for="update_college">College</label>
                  <input type="text" class="form-control update_collegeField" name="update_college" required>
                </div>
                <div id="populate_coursesList"></div>
              </div>
            </form>
            <div class="mt-5 d-flex justify-content-end">
              <button class="button mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fw-bold" data-bs-toggle="modal" data-bs-target="#editCollege_confirmation"
                type="button" id="button_showConfirmation_editCollege"> Update </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="moveCourses_modal" tabindex="-1" role="dialog" aria-labelledby="moveCourses_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="fw-bold">Move course entry</h5>
          <div class="p-2">
            <form action="{{ url_for('college_manager.change_courseCollege')}}" method="post" id="move_course">
              <div class="inputs-forms px-3 d-flex justify-content-between">
                <div id="form-item" class="py-2 flex-grow-1">
                  <label class="fw-medium" for="moveCourse_target">Course</label>
                  <input type="text" class="form-control moveCourse_target text-truncate" name="moveCourse_target"
                    id="moveCourse_target" value="${course_name}" disabled>
                </div>
                <div class="py-4 mx-3">
                  <p class="py-3"><span class="fa-solid fa-angles-right "></span></p>
                </div>
                <div id="form-item" class="py-2 flex-grow-1">
                  <label class="fw-medium" for="movetoCollege">College</label>
                  <select class="form-select text-truncate" name="movetoCollege" id="movetoCollege" required>
                  </select>
                </div>
              </div>
            </form>
            <div class="mt-2 d-flex justify-content-end">
              <button class="button mx-2" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn-red mx-2 fw-bold" data-bs-toggle="modal" data-bs-target="#moveCourses_confirmation"
                type="button" id="button_showConfirmation_moveCourses"> Move </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addColleges_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="addColleges_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Add College data </h5>
            <p class="ms-2"> Are you sure you want to add this college to the database?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button" onclick="populateColleges()">Cancel</button>
          <button id="confirm_addCollege" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCourses_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="addCourses_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Add Courses data </h5>
            <p class="ms-s"> Are you sure you want to add this course to the database?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button" onclick="populateColleges()">Cancel</button>
          <button id="confirm_addCourse" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCollege_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="editCollege_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Update College data </h5>
            <p class="ms-2"> Are you sure you want to change the college information?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button" onclick="populateColleges()">Cancel</button>
          <button id="confirm_updateCollege" class="btn-red fw-bold text-decoration-none button"
            data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="moveCourses_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="moveCourses_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Change course college</h5>
            <p class="ms-2"> Are you sure you move the <span id="modal_courseChangeText"></span> to <span
                id="modal_collgeChangeText"></span></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button" onclick="populateColleges()">Cancel</button>
          <button id="confirm_changeCourse" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == url_for('staff.upload')%}

  <div class="modal fade" id="deleteSelctedList_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="deleteSelctedList_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Remove Selected data </h5>
            <p class="ms-2"> Are you sure you want delete this rows?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button">Cancel</button>
          <button id="removeButton" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="clearSelctedList_confirmation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="clearSelctedList_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-3">
            <h5 class="fw-bold mb-3"> Clear Selected data </h5>
            <p class="ms-2"> Are you sure you clear this input fields?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button">Cancel</button>
          <button id="clearButton" class="btn-red fw-bold text-decoration-none button">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="selection_uploadTools" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="selection_uploadTools" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-red border-2" id="errorContainerTools">
        </div>
      </div>
    </div>

  <div class="modal fade" id="newRecords_confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="newRecords_confirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="px-3">
            <h5 class="fw-bold mb-3"> Upload Document </h5>
            <p class="ms-2"> Are you sure you want to upload this document data to the database?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="button">Cancel</button>
          <button id="comfirm_newRecords" class="btn-red fw-bold text-decoration-none button" data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endif %}