<aside id="side-navigation" class="sidebar" data-sidebar>
    <div class="header-sidebar mb-2 border-bottom border-1">
        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <div class="header-info align-items-center">
                    <img class="sidebar-logo rounded-circle logo-medium" style="margin-top:2px;"
                        src="{{url_for('static',filename='logo/usep-logo.png')}}" alt="USeP Logo">
                    <span class="hidden-sidebar fw-bold"> USeP- ARDS</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="middle-sidebar">
        {% if current_user.role == 'admin' %}
        <ul class="sidebar-list mb-3">
            <li class="sidebar-list-item">
                <div class="sidebar-group-title align-items-center">
                    <span class="sidebar-icon"></span>
                    <span class="hidden-sidebar fw-bold" style="margin-left: -15px;"> Statistics</span>
                </div>
            </li>

            <li class="sidebar-list-item">
                <a href="{{url_for('dashboard')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('admin.dashboard') %} active {% endif %}">
                    <span class="sidebar-icon fa-solid fa-bars-progress"></span>
                    <span class="hidden-sidebar">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-list-item">
                <a href="{{url_for('benchmarker')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('admin.benchmarker') and current_user.role == 'admin' %} active {% endif %}">
                    <span class="sidebar-icon fa-solid fa-cube"></span>
                    <span class="hidden-sidebar"> Tester</span>
                </a>
            </li>
        </ul>
        <ul class="sidebar-list mb-3">
            <li class="sidebar-list-item">
                <div class="sidebar-group-title align-items-center">
                    <span class="sidebar-icon"></span>
                    <span class="hidden-sidebar fw-bold" style="margin-left: -15px;"> Manager tools </span>
                </div>
            </li>
            <li class="sidebar-list-item">
                <a href="{{url_for('account_manager')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('admin.account_manager') %} active {% endif %}">
                    <span class="sidebar-icon fa-solid fa-user-group"></span>
                    <span class="hidden-sidebar"> User Manager </span>
                </a>
            </li>

            <li class="sidebar-list-item">
                <a href="{{url_for('col_course_manager')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('admin.col_course_manager') %} active {% endif %}">
                    <span class="sidebar-icon fa-solid fa-graduation-cap"></span>
                    <span class="hidden-sidebar"> College and Course </span>
                </a>
            </li>
        </ul>
        {% endif %}

        <ul class="sidebar-list mb-3">
            <li class="sidebar-list-item">
                <div class="sidebar-group-title align-items-center">
                    <span class="sidebar-icon"></span>
                    <span class="hidden-sidebar fw-bold" style="margin-left: -15px;"> Database </span>
                </div>
            </li>
            <li class="sidebar-list-item">
                <a href="{{url_for('records')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('staff.records') or request.path == url_for('admin.records') %} active {% endif %}">
                    <span class="sidebar-icon fa-solid fa-user-tag"></span>
                    <span class="hidden-sidebar">Students Records</span>
                </a>
            </li>

            <li class="sidebar-list-item">
                <a href="{{url_for('documents')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('staff.documents') or request.path == url_for('admin.documents') %} active {% endif %}">
                    <span class="sidebar-icon fa-solid fa-box-archive"></span>
                    <span class="hidden-sidebar">Archive Documents</span>
                </a>
            </li>
            {% if current_user.role == 'staff' %}
            <li class="sidebar-list-item">
                <a href="{{url_for('upload')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('staff.upload') and current_user.role == 'staff' %} active {% endif %}">
                    <span class="sidebar-icon fa-regular fa-square-plus"></span>
                    <span class="hidden-sidebar"> Upload</span>
                </a>
            </li>
            {% endif %}

            {% if current_user.role == 'admin' %}
            <li class="sidebar-list-item">
                <a href="{{url_for('trashbin')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('admin.trashbin') and current_user.role == 'admin' %} active {% endif %}">
                    <span class="sidebar-icon fa-regular fa-trash-can"></span>
                    <span class="hidden-sidebar"> Trash</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="bottom-sidebar border-top border-1">
        <ul class="sidebar-list">

            <li class="sidebar-list-item">
                <a href="{{url_for('account')}}"
                    class="sidebar-link align-items-center {% if request.path == url_for('staff.account', user = current_user.username) or request.path == url_for('admin.account', user = current_user.username) %} active {% endif %}">
                    <span
                        class="sidebar-icon fa-solid {% if current_user.role == 'staff' %} fa-user {% elif current_user.role == 'admin' %}fa-solid fa-user-tie {% endif %}"></span>
                    <span id="account_username" class="hidden-sidebar">{{current_user.username}}</span>
                </a>
            </li>

            <li class="sidebar-list-item">
                <a href="" class="sidebar-link" data-bs-toggle="modal" data-bs-target="#logout_Confirmation">
                    <span class="sidebar-icon fa-solid fa-arrow-right-from-bracket"></span>
                    <span class="hidden-sidebar"> Sign out</span>
                </a>
            </li>

        </ul>
    </div>
</aside>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const sidebar = document.getElementById("side-navigation");

        sidebar.addEventListener("click", function (event) {
            if (!isInsideSidebarListItem(event.target)) {
                toggleSidebar();
            }
        });

        function toggleSidebar() {
            var icon = document.getElementById('toggle-icon');
            sidebar.classList.toggle('open');
        }

        function isInsideSidebarListItem(element) {
            return element.classList.contains('sidebar-list-item') || element.closest('.sidebar-list-item') !== null;
        }
    });

</script>